<br>
<h4><strong>General Contact</strong></h4>

    <div class="row text-center">
        <div class="col-md-4">
            <a class="btn-floating btn-small mdb-color"><i class="fa fa-map-marker"></i></a>
            <p>Serene Bridge Resort,<br>182/2 High Level Road,<br>Watareka,<br>Padukka,<br>Sri Lanka.</p>
        </div>

        <div class="col-md-4">
            <a class="btn-floating btn-small mdb-color"><i class="fa fa-phone"></i></a>
            <p>+94 11 2 859477</p>
            <p>+94 774 344730</p>
            
        </div>

        <div class="col-md-4">
            <a class="btn-floating btn-small mdb-color"><i class="fa fa-envelope"></i></a>
            <p>info@serenebridgeresort.com</p>
            <p>sale@serenebridgeresort.com</p>
        </div>
    </div>

<hr>
<h4><strong>Send Message</strong></h4>


    <!--Naked Form-->
    <div class="card-block">

        <!--Header-->
        <div class="text-center">
            <h3><i class="fa fa-envelope"></i> Write to us:</h3>
            <hr class="mt-2 mb-2">
        </div>

        <!--Body-->
        <br>

        <!--Body-->
        <div class="md-form">
            <i class="fa fa-user prefix"></i>
            <input type="text" id="form3" class="form-control">
            <label for="form3">Your name</label>
        </div>

        <div class="md-form">
            <i class="fa fa-envelope prefix"></i>
            <input type="text" id="form2" class="form-control">
            <label for="form2">Your email</label>
        </div>

        <div class="md-form">
            <i class="fa fa-tag prefix"></i>
            <input type="text" id="form32" class="form-control">
            <label for="form34">Subject</label>
        </div>

        <div class="md-form">
            <i class="fa fa-pencil prefix"></i>
            <textarea type="text" id="form8" class="md-textarea"></textarea>
            <label for="form8">Message</label>
        </div>

        <div class="text-center">
            <button class="btn btn-default">Submit</button>
        </div>

    </div>
    <!--Naked Form-->


<hr>
<h4><strong>Location</strong></h4>

<div id="map" style="height:350px;background:yellow"></div>