.grid {
  position: relative;
}

.grid-item {
  position: absolute;
}

.grid-item.moving {
  z-index: z-index + 1;
}

.placeholder {
  position: absolute;
}
.icon-button {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
  border: 0;
  background: transparent;
}


/* TEMPLATE STYLES */

main {
  margin-top: -10px;
  margin-left: 0.1rem;
  margin-right: 1rem;
  
}

main .card {
  margin-bottom: 2rem;
 
}

@media only screen and (max-width: 768px) {
  .read-more {
    text-align: center;
  }
}

.mdlcard {
  max-width: 250px;
}
