[Desktop Entry]
Encoding=UTF-8
Name=Link to Components - Material Design for Bootstrap
Type=Link
URL=https://mdbootstrap.com/components/
Icon=text-html
