

 

<!--Main layout-->

  <div class="container-fluid row">

    <!-- Article and Right-Side bar -->
    <div class="row">
      <!--
      <a id="sideNavButton" href="#" data-activates="slide-out" class="float-xs-left btn btn-purple btn-rounded waves-effect button-collapse " style="margin-left: 20px;"><i class="fa fa-bars"></i></a>
      -->

      <!-- Article -->
      <div class="col-lg-12" style="padding-top: 8px;">
        <!--Section: Post-->
        <section class="section section-blog-fw">

          <!--First row-->
          <div class="row">

            <div class="col-md-12 wow fadeInUp">

              <!--Featured image-->
              <img src="https://i.ytimg.com/vi/hi8qyK87fEU/maxresdefault.jpg">

              <!--Post data-->
              <div class="jumbotron wow fadeInUp" data-wow-delay="0.2s">
                <h2>Kings Park</h2>
                <p>Kandy <a>Sri Lanka</a>, 26.03.2016</p>
                

                <div class="stars">
                  <form action="">
                    <input class="star star-5" id="star-5" type="radio" name="star" style="visibility:hidden;" />
                    <label class="star star-5" for="star-5"></label>
                    <input class="star star-4" id="star-4" type="radio" name="star"/>
                    <label class="star star-4" for="star-4"></label>
                    <input class="star star-3" id="star-3" type="radio" name="star"/>
                    <label class="star star-3" for="star-3"></label>
                    <input class="star star-2" id="star-2" type="radio" name="star"/>
                    <label class="star star-2" for="star-2"></label>
                    <input class="star star-1" id="star-1" type="radio" name="star"/>
                    <label class="star star-1" for="star-1"></label>
                  </form>
                </div>

              </div>
              <!--/Post data-->

              <!--Post text-->
             




<div class="card col-md-12">

<div class="card col-md-6" mdl-shadow="2">
  
    <div class="card-header"> 
        <div>
          <h6><a href="">About</a></h6>
        </div>   
    </div>

    <div class="view overlay hm-white-slight">
      <img src="https://srilankatraveladventures.files.wordpress.com/2014/05/kandy-lake-map.jpg?w=840" class="img-fluid" alt="">
      <br>
      <a>
        <div class="mask waves-effect waves-light"></div>
      </a>
    </div>
    
    <div class="card-block">
            <mdl-list>
  <mdl-list-item>
    <mdl-list-item-primary-content>
      <mdl-icon mdl-list-item-icon>home</mdl-icon>
      NO.24, Lake rd, Kandy
    </mdl-list-item-primary-content>
  </mdl-list-item>

  <mdl-list-item>
    <mdl-list-item-primary-content>
      <mdl-icon mdl-list-item-icon>phone</mdl-icon>
      081 2 223620
    </mdl-list-item-primary-content>
  </mdl-list-item>

  <mdl-list-item>
    <mdl-list-item-primary-content>
      <mdl-icon mdl-list-item-icon>message</mdl-icon>
      <a href="">Send Message</a>
    </mdl-list-item-primary-content>
  </mdl-list-item>

  <mdl-list-item>
    <mdl-list-item-primary-content>
      <mdl-icon mdl-list-item-icon>web</mdl-icon>
      <a href="">www.kingspark.com</a>
    </mdl-list-item-primary-content>
  </mdl-list-item>
</mdl-list>


    </div>
  
</div>


<div class="card col-md-6" mdl-shadow="2">
  
    <div class="card-header"> 
        <div>
          <h6><a href="">Community</a></h6>
        </div>   
    </div>

    <div class="view overlay hm-white-slight">
      
      <a>
        <div class="mask waves-effect waves-light"></div>
      </a>
    </div>
    
    <div class="card-block">
       <mdl-list>
  <mdl-list-item>
    <mdl-list-item-primary-content>
      <mdl-icon mdl-list-item-icon>home</mdl-icon>
      149 people follow this
    </mdl-list-item-primary-content>
  </mdl-list-item>

  <mdl-list-item>
    <mdl-list-item-primary-content>
      <mdl-icon mdl-list-item-icon>location_on</mdl-icon>
      368 people have visited
    </mdl-list-item-primary-content>
  </mdl-list-item>

  <mdl-list-item>
    <mdl-list-item-primary-content>
      <mdl-icon mdl-list-item-icon>thumb_up</mdl-icon>
      Invite your friends to rate this Page
    </mdl-list-item-primary-content>
  </mdl-list-item>

  
</mdl-list>
    </div>
  
</div>
</div>











              <!--/Post text-->

              <hr>

              <div class="text-xs-center">
                <h3 class="h3-responsive">Share this Article</h3>
                <!--Facebook-->
                <a href="https://www.facebook.com/mdbootstrap" target="_blank" class="btn-floating btn-small btn-fb"><i class="fa fa-facebook"> </i></a>
                <!--Twitter-->
                <a href="https://twitter.com/MDBootstrap" target="_blank" class="btn-floating btn-small btn-tw"><i class="fa fa-twitter"> </i></a>
                <!--Google +-->
                <a href="https://plus.google.com/u/0/+Mdbootstrap" target="_blank" class="btn-floating btn-small btn-gplus"><i class="fa fa-google-plus"> </i></a>
              </div>

            </div>

          </div>
          <!--/First row-->

        </section>
        <!--/Section: Post-->
      </div>
      <!-- Article -->

      <!-- Right Side Bar -->
      <div class="col-lg-4">
        <!--/.prof card-->
        <!--Rotating card-->
        
       
        
       
        <!-- </section> -->
        <!-- Sliding Card -->
      </div>
      <!-- Right Side Bar -->

    </div>
    <!-- Article and Right-Side bar -->

    
    <!-- Comment -->

    <!--Add comment 2-->
   
    <!--Add Comment 2-->

  </div>


