

 <app-sideview>

</app-sideview>
<app-navbar></app-navbar>

<!--Main layout-->
<main class="myMain">
  <div class="container-fluid row">

    <!-- Article and Right-Side bar -->
    <div class="row">
      <!--
      <a id="sideNavButton" href="#" data-activates="slide-out" class="float-xs-left btn btn-purple btn-rounded waves-effect button-collapse " style="margin-left: 20px;"><i class="fa fa-bars"></i></a>
      -->

      <!-- Article -->
      <div class="col-lg-8" style="padding-top: 8px;" *ngIf="postdata">
        <!--Section: Post-->
        <section class="section section-blog-fw">

          <!--First row-->
          <div class="row">

            <div class="col-md-12 wow fadeInUp">

              <!--Featured image-->
              <img [src]="postdata.featured_img">

              <!--Post data-->
              <div class="jumbotron wow fadeInUp" data-wow-delay="0.2s">
                <h2>{{postdata.postTtile}}</h2>
                <p>Written by <a>{{postdata.username}}</a>, 26.03.2016</p>
                <div class="chip pull-right">
                  Tag 1
                </div>
                <div class="chip pull-right">
                  Tag 2
                </div>

                <div class="stars">
                  <form action="">
                    <input class="star star-5" id="star-5" type="radio" name="star" style="visibility:hidden;" />
                    <label class="star star-5" for="star-5"></label>
                    <input class="star star-4" id="star-4" type="radio" name="star"/>
                    <label class="star star-4" for="star-4"></label>
                    <input class="star star-3" id="star-3" type="radio" name="star"/>
                    <label class="star star-3" for="star-3"></label>
                    <input class="star star-2" id="star-2" type="radio" name="star"/>
                    <label class="star star-2" for="star-2"></label>
                    <input class="star star-1" id="star-1" type="radio" name="star"/>
                    <label class="star star-1" for="star-1"></label>
                  </form>
                </div>

              </div>
              <!--/Post data-->

              <!--Post text-->
              <div class="post-text" [innerHTML]="postdata.body">
              
              </div>
              <!--/Post text-->

              <hr>

              <div class="text-xs-center">
                <h3 class="h3-responsive">Share this Article</h3>
                <!--Facebook-->
                <a href="https://www.facebook.com/mdbootstrap" target="_blank" class="btn-floating btn-small btn-fb"><i class="fa fa-facebook"> </i></a>
                <!--Twitter-->
                <a href="https://twitter.com/MDBootstrap" target="_blank" class="btn-floating btn-small btn-tw"><i class="fa fa-twitter"> </i></a>
                <!--Google +-->
                <a href="https://plus.google.com/u/0/+Mdbootstrap" target="_blank" class="btn-floating btn-small btn-gplus"><i class="fa fa-google-plus"> </i></a>
              </div>

            </div>

          </div>
          <!--/First row-->

        </section>
        <!--/Section: Post-->
      </div>
      <!-- Article -->

      <!-- Right Side Bar -->
      <div class="col-lg-4">
        <!--/.prof card-->
        <!--Rotating card-->
        <div class="card-wrapper  ">
          <div class="row">
          <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
            <div class="flipper">
              <div class="front">
                <div class="card-up"  >
                  <img  src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(7).jpg" class="img-fluid">
                </div>
                <!--Avatar-->
                <div class="avatar"><img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(20).jpg" class="rounded-circle img-responsive">
                </div>
                <!--Content-->
                <div class="card-block" align="center">
                  <h4>Kavindu Edirisinghe</h4>
                  <p>Traveller</p>
                  <!--Triggering button-->

                  <!--Subscribe button-->

                </div>
                <!-- front content -->
              </div>
              <div class="back">
                <h4>About me</h4>
                <hr>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime quae, dolores dicta. Blanditiis rem amet repellat, dolores nihil quae in mollitia asperiores ut rerum repellendus, voluptatum eum, officia laudantium quaerat?</p>
                <hr>
                <!--Social Icons-->
                <ul class="inline-ul">
                  <li><a class="icons-sm fb-ic"><i class="fa fa-facebook"></i></a></li>
                  <li><a class="icons-sm tw-ic"><i class="fa fa-twitter"></i></a></li>
                  <li><a class="icons-sm gplus-ic"><i class="fa fa-google-plus"></i></a></li>
                  <li><a class="icons-sm dribbble-ic"><i class="fa fa-dribbble"></i></a></li>
                </ul>
                <!--Triggering button-->

                <!-- back content -->
              </div>
            </div></div>

            <div class="upmargin"   align="center"><a class="btn btn-default btn-rounded waves-effect waves-light"  >Subscribe</a></div>


          </div>

          <!--<div id="card-2" class="card-rotating effect__click">-->

            <!--Front Side-->
            <!--<div class="face front">-->

              <!--&lt;!&ndash; Image&ndash;&gt;-->
              <!--<div class="card-up" style="height:40%">-->
                <!--<img  src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(7).jpg" class="img-fluid">-->
              <!--</div>-->
              <!--&lt;!&ndash;Avatar&ndash;&gt;-->
              <!--<div class="avatar"><img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(20).jpg" class="rounded-circle img-responsive">-->
              <!--</div>-->
              <!--&lt;!&ndash;Content&ndash;&gt;-->
              <!--<div class="card-block">-->
                <!--<h4>Marie Clark</h4>-->
                <!--<p>Traveller</p>-->
                <!--&lt;!&ndash;Triggering button&ndash;&gt;-->
                <!--<div><a class="rotate-btn" data-card="card-2"><i class="fa fa-repeat"></i>About Me</a></div>-->
                <!--&lt;!&ndash;Subscribe button&ndash;&gt;-->
                <!--<div><a class="btn btn-default btn-rounded waves-effect waves-light">Subscribe</a></div>-->
              <!--</div>-->
            <!--</div>-->
            <!--&lt;!&ndash;/.Front Side&ndash;&gt;-->

            <!--&lt;!&ndash;Back Side&ndash;&gt;-->
            <!--<div class="face back">-->

              <!--&lt;!&ndash;Content&ndash;&gt;-->
              <!--<h4>About me</h4>-->
              <!--<hr>-->
              <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime quae, dolores dicta. Blanditiis rem amet repellat, dolores nihil quae in mollitia asperiores ut rerum repellendus, voluptatum eum, officia laudantium quaerat?</p>-->
              <!--<hr>-->
              <!--&lt;!&ndash;Social Icons&ndash;&gt;-->
              <!--<ul class="inline-ul">-->
                <!--<li><a class="icons-sm fb-ic"><i class="fa fa-facebook"></i></a></li>-->
                <!--<li><a class="icons-sm tw-ic"><i class="fa fa-twitter"></i></a></li>-->
                <!--<li><a class="icons-sm gplus-ic"><i class="fa fa-google-plus"></i></a></li>-->
                <!--<li><a class="icons-sm dribbble-ic"><i class="fa fa-dribbble"></i></a></li>-->
              <!--</ul>-->
              <!--&lt;!&ndash;Triggering button&ndash;&gt;-->
              <!--<a class="rotate-btn" data-card="card-2"><i class="fa fa-undo"></i> Turn Back</a>-->

            <!--</div>-->
            <!--/.Back Side-->

          <!--</div>-->

        </div>
        <!--/.Rotating card-->
        <!--/.prof card-->

        <!-- Sliding Card -->
        <!--  </section> -->
        <h5 class="mt-3 mb-2">See Also </h5>
        <div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">

          <!--Controls--
          <div class="controls-top">
              <a class="btn-floating btn-small waves-effect waves-light" href="#multi-item-example" data-slide="prev"><i class="fa fa-chevron-left"></i></a>
              <a class="btn-floating btn-small waves-effect waves-light" href="#multi-item-example" data-slide="next"><i class="fa fa-chevron-right"></i></a>
          </div>
          <!--/.Controls-->

          <!--Indicators--
          <ol class="carousel-indicators">
              <li data-target="#multi-item-example" data-slide-to="0" class="active"></li>
              <li data-target="#multi-item-example" data-slide-to="1" class=""></li>
              <li data-target="#multi-item-example" data-slide-to="2" class=""></li>
              <li data-target="#multi-item-example" data-slide-to="3" class=""></li>
          </ol>
          <!--/.Indicators-->

          <!--Slides-->
          <div class="carousel-inner" role="listbox">

            <!--First slide-->
            <div class="carousel-item">
              <div class="card card-cascade wider">
                <!--Card image-->
                <div class="view overlay hm-white-slight wow fadeInDown" data-wow-delay="0.2s">
                  <img src="http://mdbootstrap.com/images/regular/people/img%20(20).jpg" class="img-fluid" alt="">
                  <a>
                    <div class="mask"></div>
                  </a>
                </div>
                <!--/.Card image-->

                <!--Card content-->
                <div class="card-block text-xs-center wow fadeInDown">
                  <!--Title-->
                  <h4 class="card-title">How to travel cheaply?</h4>
                  <!--Text-->
                  <p class="card-text">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat sunt in culpa nulla pariatur.</p>
                  <a class="btn btn-primary">Read more</a>
                </div>
                <!--/.Card content-->
              </div>
            </div>
            <!--/.First slide-->

            <!--Second slide-->
            <div class="carousel-item">
              <div class="card card-cascade wider">
                <!--Card image-->
                <div class="view overlay hm-white-slight wow fadeInDown" data-wow-delay="0.2s">
                  <img src="http://mdbootstrap.com/images/regular/people/img%20(25).jpg" class="img-fluid" alt="">
                  <a>
                    <div class="mask"></div>
                  </a>
                </div>
                <!--/.Card image-->

                <!--Card content-->
                <div class="card-block text-xs-center wow fadeInDown">
                  <!--Title-->
                  <h4 class="card-title">How to travel cheaply?</h4>
                  <!--Text-->
                  <p class="card-text">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat sunt in culpa nulla pariatur.</p>
                  <a class="btn btn-primary">Read more</a>
                </div>
                <!--/.Card content-->
              </div>
            </div>
            <!--/.Second slide-->

            <!--Third slide-->
            <div class="carousel-item active">
              <div class="card card-cascade wider">
                <!--Card image-->
                <div class="view overlay hm-white-slight wow fadeInDown" data-wow-delay="0.2s">
                  <img src="http://mdbootstrap.com/images/regular/people/img%20(33).jpg" class="img-fluid" alt="">
                  <a>
                    <div class="mask"></div>
                  </a>
                </div>
                <!--/.Card image-->

                <!--Card content-->
                <div class="card-block text-xs-center wow fadeInDown">
                  <!--Title-->
                  <h4 class="card-title">How to travel cheaply?</h4>
                  <!--Text-->
                  <p class="card-text">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat sunt in culpa nulla pariatur.</p>
                  <a class="btn btn-primary">Read more</a>
                </div>
                <!--/.Card content-->
              </div>
            </div>
            <!--/.Third slide-->

          </div>
          <!--/.Slides-->

          <!--Controls-->
          <div class="controls-top">
            <a class="btn-floating btn-small waves-effect waves-light" href="#multi-item-example" data-slide="prev"><i class="fa fa-chevron-left"></i></a>
            <a class="btn-floating btn-small waves-effect waves-light" href="#multi-item-example" data-slide="next"><i class="fa fa-chevron-right"></i></a>
          </div>
          <!--/.Controls-->

        </div>
        <!-- </section> -->
        <!-- Sliding Card -->
      </div>
      <!-- Right Side Bar -->

    </div>
    <!-- Article and Right-Side bar -->

    <!-- Comment -->
    <div class="row">

      <!--Section: Comments header-->
      <section>
        <div class="comments-list">
          <div class="section-heading" >
            <h1 align="left">Comments <span class="tag blue">3</span></h1>
          </div>
        </div>
      </section>
      <!--Section: Comments header-->

      <!--comments blocks-->
      <div class="row">
        <div>
          <section>
            <div class="comments-list row">
              <!--First row-->
              <div class="row col-md-5 card" style="margin: 20px 0px 0px 20px;">
                <!--Image column-->
                <div class="col-md-12 col-sm-2 col-xs-12">
                  <img src="http://mdbootstrap.com/images/avatars/avatar-1.jpg">
                </div>
                <!--/.Image column-->

                <!--Content column-->
                <div class="col-md-12 col-sm-10 col-xs-12">
                  <a><h3 class="user-name">Danny Johnson</h3></a>

                  <div class="card-data">
                    <ul>
                      <li class="comment-date"><i class="fa fa-clock-o"></i> 05/10/2015</li>
                    </ul>
                  </div>

                  <input type="checkbox" class="read-more-state" id="comment-1" />

                  <label for="comment-1" class="read-more-trigger"></label>
                  <p class="comment-text read-more-wrap">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.<span class="read-more-target"> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
                                        sint occaecat cupidatat non proident.</span></p>

                </div>
                <!--/.Content column-->

              </div>
              <!--/.First row-->

              <!--Second row-->
              <div class="row col-md-5 card" style="margin: 20px 0px 0px 20px;">
                <!--Image column-->
                <div class="col-md-12 col-sm-2 col-xs-12">
                  <img src="http://mdbootstrap.com/images/avatars/avatar-2.jpg">
                </div>
                <!--/.Image column-->

                <!--Content column-->
                <div class="col-md-12 col-sm-10 col-xs-12">
                  <a><h3 class="user-name">Marta Tev</h3></a>

                  <div class="card-data">
                    <ul>
                      <li class="comment-date"><i class="fa fa-clock-o"></i> 08/10/2015</li>
                    </ul>
                  </div>
                  <input type="checkbox" class="read-more-state" id="comment-2" />
                  <p></p>
                  <label for="comment-2" class="read-more-trigger"></label>
                  <p class="comment-text  read-more-wrap">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,<span class="read-more-target"> totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                                        Nemo enim ipsam voluptatem quia voluptas sit aspernatur.</span></p>

                </div>
                <!--/.Content column-->

              </div>
              <!--/.Second row-->

              <!--Third row-->
              <div class="row col-md-5 card" style="margin: 20px 0px 0px 20px;">
                <!--Image column-->
                <div class="col-md-12 col-sm-2 col-xs-12">
                  <img src="http://mdbootstrap.com/images/avatars/img%20(1).jpg">
                </div>
                <!--/.Image column-->

                <!--Content column-->
                <div class="col-md-12 col-sm-10 col-xs-12">
                  <a><h3 class="user-name">Anna Maria</h3></a>

                  <div class="card-data">
                    <ul>
                      <li class="comment-date"><i class="fa fa-clock-o"></i> 17/10/2015</li>
                    </ul>
                  </div>
                  <input type="checkbox" class="read-more-state" id="comment-3" />
                  <p></p>
                  <label for="comment-3" class="read-more-trigger"></label>
                  <p class="comment-text read-more-wrap">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque<span class="read-more-target"> corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt
                                        in culpa qui officia.</span>
                  </p>

                </div>
                <!--/.Content column-->

              </div>
              <!--/.Third row-->

            </div>
          </section>
          <!--/Section: Comments list-->
        </div>
      </div>
      <!--comments blocks-->

    </div>
    <!-- Comment -->

    <!--Add comment 2-->
    <div class="row">
      <!--Section: Leave a reply (Logged In User) -->
      <hr class="between-sections">
      <section class="col-md-6">
        <div class="reply-form">
          <h1 class="section-heading">Add your Comment </h1>
          <p class="text-xs-center">(Logged In User)</p>

          <!--Third row-->
          <div class="row">
            <!--Image column-->
            <div class="col-md-12 col-sm-2 col-xs-12">
              <img src="http://mdbootstrap.com/images/avatars/img%20(3).jpg">
            </div>
            <!--/.Image column-->

            <!--Content column-->
            <div class="col-md-12 col-sm-10 col-xs-12">
              <div class="md-form">
                <textarea type="text" id="form8" class="md-textarea"></textarea>
                <label for="form8">Your message</label>
              </div>

              <div class="text-xs-center">
                <button class="btn btn-primary">Submit</button>
              </div>
            </div>
            <!--/.Content column-->

          </div>
          <!--/.Third row-->
        </div>
        <hr class="between-sections">
      </section>
      <!--/.Section: Leave a reply (Logged In User)-->


      <!--Section: Leave a reply (Not Logged In User)-->
      <section class="col-md-6">
        <div class="reply-form">
          <h1 class="section-heading">Add your Comment </h1>
          <p class="text-xs-center">(Not Logged In User)</p>

          <h4>Sign up with: <span>
                        <!--Facebook-->
                        <a href="https://www.facebook.com/mdbootstrap" target="_blank" class="btn-floating btn-small btn-fb"><i class="fa fa-facebook"> </i></a>
            <!--Twitter-->
                        <a href="https://twitter.com/MDBootstrap" target="_blank" class="btn-floating btn-small btn-tw"><i class="fa fa-twitter"> </i></a>
            <!--Google +-->
                        <a href="https://plus.google.com/u/0/+Mdbootstrap" target="_blank" class="btn-floating btn-small btn-gplus"><i class="fa fa-google-plus"> </i></a>

                    </span> <br><br>or:</h4>

          <div class="md-form">
            <i class="fa fa-user prefix"></i>
            <input type="text" id="form22" class="form-control">
            <label for="form42">Your name</label>
          </div>

          <div class="md-form">
            <i class="fa fa-envelope prefix"></i>
            <input type="text" id="form32" class="form-control">
            <label for="form34">Your email</label>
          </div>

          <div class="md-form">
            <i class="fa fa-home prefix"></i>
            <input type="text" id="form32" class="form-control">
            <label for="form34">Your website</label>
          </div>

          <div class="md-form">
            <i class="fa fa-pencil prefix"></i>
            <textarea type="text" id="form8" class="md-textarea"></textarea>
            <label for="form8">Your message</label>
          </div>

          <div class="text-xs-center">
            <button class="btn btn-primary">Submit</button>
          </div>
        </div>
      </section>
      <!--/Section: Leave a reply (Not Logged In User)-->
    </div>
    <!--Add Comment 2-->

  </div>
</main>
<!--<main class="myMain">-->
  <!--<div class="container-fluid row">-->

    <!--&lt;!&ndash; Article and Right-Side bar &ndash;&gt;-->
    <!--<div class="row">-->
<!--<div class="col-lg-8" style="padding-top: 8px;">-->
  <!--&lt;!&ndash;Section: Post&ndash;&gt;-->
  <!--<section class="section section-blog-fw">-->

    <!--&lt;!&ndash;First row&ndash;&gt;-->
    <!--<div class="row">-->

      <!--<div class="col-md-12 wow fadeInUp">-->

        <!--&lt;!&ndash;Featured image&ndash;&gt;-->
        <!--<img src="http://mdbootstrap.com/images/slides/slide%20(16).jpg">-->

        <!--&lt;!&ndash;Post data&ndash;&gt;-->
        <!--<div class="jumbotron wow fadeInUp" data-wow-delay="0.2s">-->
          <!--<h2>How I've started my adventure with surfing?</h2>-->
          <!--<p>Written by <a>John Doe</a>, 26.03.2016</p>-->
          <!--<div class="chip pull-right">-->
            <!--Tag 1-->
          <!--</div>-->
          <!--<div class="chip pull-right">-->
            <!--Tag 2-->
          <!--</div>-->

          <!--<div class="stars">-->
            <!--<form action="">-->
              <!--<input class="star star-5" id="star-5" type="radio" name="star" style="visibility:hidden;" />-->
              <!--<label class="star star-5" for="star-5"></label>-->
              <!--<input class="star star-4" id="star-4" type="radio" name="star"/>-->
              <!--<label class="star star-4" for="star-4"></label>-->
              <!--<input class="star star-3" id="star-3" type="radio" name="star"/>-->
              <!--<label class="star star-3" for="star-3"></label>-->
              <!--<input class="star star-2" id="star-2" type="radio" name="star"/>-->
              <!--<label class="star star-2" for="star-2"></label>-->
              <!--<input class="star star-1" id="star-1" type="radio" name="star"/>-->
              <!--<label class="star star-1" for="star-1"></label>-->
            <!--</form>-->
          <!--</div>-->

        <!--</div>-->
        <!--&lt;!&ndash;/Post data&ndash;&gt;-->

        <!--&lt;!&ndash;Post text&ndash;&gt;-->
        <!--<div class="post-text">-->
          <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos ut tempore, cum minus perspiciatis, blanditiis tempora molestias dolorem pariatur deserunt laudantium, reprehenderit! Sed accusamus vitae qui, perferendis-->
            <!--minus.-->
          <!--</p>-->

          <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa expedita quia animi placeat repudiandae, eius quos. Modi nulla, nisi itaque ullam ab, aliquam velit facilis, explicabo, eius saepe maxime quod.Lorem ipsum-->
            <!--dolor sit amet, consectetur adipisicing elit. Ipsa expedita quia animi placeat repudiandae, eius quos. Modi nulla, nisi itaque ullam ab, aliquam velit facilis, explicabo, eius saepe maxime quod.</p>-->
        <!--</div>-->
        <!--&lt;!&ndash;/Post text&ndash;&gt;-->

        <!--<hr>-->

        <!--<div class="text-xs-center">-->
          <!--<h3 class="h3-responsive">Share this Article</h3>-->
          <!--&lt;!&ndash;Facebook&ndash;&gt;-->
          <!--<a href="https://www.facebook.com/mdbootstrap" target="_blank" class="btn-floating btn-small btn-fb"><i class="fa fa-facebook"> </i></a>-->
          <!--&lt;!&ndash;Twitter&ndash;&gt;-->
          <!--<a href="https://twitter.com/MDBootstrap" target="_blank" class="btn-floating btn-small btn-tw"><i class="fa fa-twitter"> </i></a>-->
          <!--&lt;!&ndash;Google +&ndash;&gt;-->
          <!--<a href="https://plus.google.com/u/0/+Mdbootstrap" target="_blank" class="btn-floating btn-small btn-gplus"><i class="fa fa-google-plus"> </i></a>-->
        <!--</div>-->

      <!--</div>-->

    <!--</div>-->
    <!--&lt;!&ndash;/First row&ndash;&gt;-->

  <!--</section>-->
  <!--&lt;!&ndash;/Section: Post&ndash;&gt;-->
<!--</div>-->
      <!--&lt;!&ndash;/ARTICLE&ndash;&gt;-->
      <!--<section>-->
      <!--<div class="col-lg-4" style="padding-top: 8px;">-->
        <!--<div class="card-wrapper animated fadeInUp">-->
          <!--<div id="card-2" class="card-rotating effect__click">-->
            <!--<div class="face front">-->

              <!--&lt;!&ndash; Image&ndash;&gt;-->
              <!--<div class="card-up" style="height:40%">-->
                <!--<img  src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(7).jpg" class="img-fluid">-->
              <!--</div>-->
              <!--&lt;!&ndash;Avatar&ndash;&gt;-->
              <!--<div class="avatar"><img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(20).jpg" class="rounded-circle img-responsive">-->
              <!--</div>-->
              <!--&lt;!&ndash;Content&ndash;&gt;-->
              <!--<div class="card-block">-->
                <!--<h4>Marie Clark</h4>-->
                <!--<p>Traveller</p>-->
                <!--&lt;!&ndash;Triggering button&ndash;&gt;-->
                <!--<div><a class="rotate-btn" data-card="card-2"><i class="fa fa-repeat"></i>About Me</a></div>-->
                <!--&lt;!&ndash;Subscribe button&ndash;&gt;-->
                <!--<div><a class="btn btn-default btn-rounded waves-effect waves-light">Subscribe</a></div>-->
              <!--</div>-->
            <!--</div>-->
            <!--<div class="face back">-->

              <!--&lt;!&ndash;Content&ndash;&gt;-->
              <!--<h4>About me</h4>-->
              <!--<hr>-->
              <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime quae, dolores dicta. Blanditiis rem amet repellat, dolores nihil quae in mollitia asperiores ut rerum repellendus, voluptatum eum, officia laudantium quaerat?</p>-->
              <!--<hr>-->
              <!--&lt;!&ndash;Social Icons&ndash;&gt;-->
              <!--<ul class="inline-ul">-->
                <!--<li><a class="icons-sm fb-ic"><i class="fa fa-facebook"></i></a></li>-->
                <!--<li><a class="icons-sm tw-ic"><i class="fa fa-twitter"></i></a></li>-->
                <!--<li><a class="icons-sm gplus-ic"><i class="fa fa-google-plus"></i></a></li>-->
                <!--<li><a class="icons-sm dribbble-ic"><i class="fa fa-dribbble"></i></a></li>-->
              <!--</ul>-->
              <!--&lt;!&ndash;Triggering button&ndash;&gt;-->
              <!--<a class="rotate-btn" data-card="card-2"><i class="fa fa-undo"></i> Turn Back</a>-->

            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
      <!--</section>-->
      <!--<h5 class="mt-3 mb-2">See Also </h5>-->
      <!--<div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">-->
        <!---->
      <!--</div>-->
      <!--</div>-->

  <!--</div>-->
<!--</main>-->
