<div class="carousel-inner" role="listbox">

  <!--First slide-->
  <div class="carousel-item">
    <div class="card card-cascade wider">
      <!--Card image-->
      <div class="view overlay hm-white-slight wow fadeInDown" data-wow-delay="0.2s">
        <img src="http://mdbootstrap.com/images/regular/people/img%20(20).jpg" class="img-fluid" alt="">
        <a>
          <div class="mask"></div>
        </a>
      </div>
      <!--/.Card image-->

      <!--Card content-->
      <div class="card-block text-xs-center wow fadeInDown">
        <!--Title-->
        <h4 class="card-title">How to travel cheaply?</h4>
        <!--Text-->
        <p class="card-text">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat sunt in culpa nulla pariatur.</p>
        <a class="btn btn-primary">Read more</a>
      </div>
      <!--/.Card content-->
    </div>
  </div>
  <!--/.First slide-->

  <!--Second slide-->
  <div class="carousel-item">
    <div class="card card-cascade wider">
      <!--Card image-->
      <div class="view overlay hm-white-slight wow fadeInDown" data-wow-delay="0.2s">
        <img src="http://mdbootstrap.com/images/regular/people/img%20(25).jpg" class="img-fluid" alt="">
        <a>
          <div class="mask"></div>
        </a>
      </div>
      <!--/.Card image-->

      <!--Card content-->
      <div class="card-block text-xs-center wow fadeInDown">
        <!--Title-->
        <h4 class="card-title">How to travel cheaply?</h4>
        <!--Text-->
        <p class="card-text">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat sunt in culpa nulla pariatur.</p>
        <a class="btn btn-primary">Read more</a>
      </div>
      <!--/.Card content-->
    </div>
  </div>
  <!--/.Second slide-->

  <!--Third slide-->
  <div class="carousel-item active">
    <div class="card card-cascade wider">
      <!--Card image-->
      <div class="view overlay hm-white-slight wow fadeInDown" data-wow-delay="0.2s">
        <img src="http://mdbootstrap.com/images/regular/people/img%20(33).jpg" class="img-fluid" alt="">
        <a>
          <div class="mask"></div>
        </a>
      </div>
      <!--/.Card image-->

      <!--Card content-->
      <div class="card-block text-xs-center wow fadeInDown">
        <!--Title-->
        <h4 class="card-title">How to travel cheaply?</h4>
        <!--Text-->
        <p class="card-text">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat sunt in culpa nulla pariatur.</p>
        <a class="btn btn-primary">Read more</a>
      </div>
      <!--/.Card content-->
    </div>
  </div>
  <!--/.Third slide-->

</div>

