<!--<div ng-controller='myCtrl'>
     <h2>Demo</h3>
    <div>
        <div>
            <angular-star-rating max="maxValue" value='ratingValue'  hover='changeOnHover' is-readonly='isReadonly'></angular-star-rating>
        </div>
        <div>
            <p>Readonly:
                <input type='checkbox' ng-model='isReadonly' /> {{isReadonly}}
            </p>
            <p>Rating value change on mouse hover: 
                <input type='checkbox' ng-model='changeOnHover' /> {{changeOnHover}}
            </p>
            <p>Your rating value: {{ratingValue}} / {{maxValue}}</p>
            <p>Max value: 
                <input ng-model="maxValue" type="number" min="5" max="100"> (5~100 for test)
             </p>
        </div>
    </div>
</div>-->