<app-sideview>

</app-sideview>
<app-navbar></app-navbar>

<main class="Mymain">
<div class="row">
  <div class="col-md-10">

    <h2>Create Business Page</h2>
    <div class="card-block">

      <!--Header-->
     <!-- <div class="text-center">
        <h3><i class="fa fa-envelope"></i> Write to us:</h3>
        <hr class="mt-2 mb-2">
      </div>-->

      <!--Body-->
      <h4>Fill details here</h4>
      <br>

      <!--Body-->
    <form>
      <div class="group">
        <div>
          <input type="text" required>
          <span class="highlight"></span>
          <span class="bar"></span>
          <label>Name of the business place</label>
        </div>

        
      </div>    

      <div class="group">
        <div style="float:right">      
          <input type="text" required>
          <span class="highlight" style="float:right"></span>
          <span class="bar"></span>
          <label>Address</label>
        </div>

        <div>
          <input type="text" required>
          <span class="highlight"></span>
          <span class="bar"></span>
          <label>Web Site</label>
        </div>
      </div>

      <div class="group">
        <div style="float:right">
          <input type="text" required>
          <span class="highlight"></span>
          <span class="bar"></span>
          <label>Email Address</label>
        </div>    

        <div>
          <input type="text" required>
          <span class="highlight"></span>
          <span class="bar"></span>
          <label>Telephone Number</label>
        </div> 
       </div>   

      <div class="group">
        <div style="float:right">
          <input type="file" name="img" id="imgsToUpload" multiple>
          <span class="highlight"></span>
          <span class="bar"></span>
          <label>Album</label>
        </div>

        <div>
          <input type="file" name="fileToUpload" id="fileToUpload">
          <span class="highlight"></span>
          <span class="bar"></span>
          <label>Cover Photo</label>
        </div>
      </div>  

      <div class="group">
        <div style="float:right">
          <input type="checkbox" name="chk_group" value="value1" />Value 1<br />
<input type="checkbox" name="chk_group" value="value2" />Value 2<br />
<input type="checkbox" name="chk_group" value="value3" />Value 3<br />
        </div>    

        <div>
          <input type="text" required>
          <span class="highlight"></span>
          <span class="bar"></span>
          <label>Telephone Number</label>
        </div> 
       </div> 

       <div class="group">      
        <input type="text" required>
        <span class="highlight"></span>
        <span class="bar"></span>
        <label>Targetting Location</label>
      </div>

      <div class="btn-group">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Select Category</button>

        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Large scale Hotels</a>
          <a class="dropdown-item" href="#">Medium scale Hotels</a>
          <a class="dropdown-item" href="#">Single person business</a>
          <a class="dropdown-item" href="#">Service providers</a>
        </div>
      </div>

      
    </form>
      
      <!--</div>-->


      <!--<div class="btn-group">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Select Category</button>

        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Large scale Hotels</a>
          <a class="dropdown-item" href="#">Medium scale Hotels</a>
          <a class="dropdown-item" href="#">Single person business</a>
          <a class="dropdown-item" href="#">Service providers</a>
        </div>
      </div>-->


      <!--<div class="md-form">
        <i class="fa fa-tag prefix"></i>
        <input type="text" id="form32" class="form-control">
        <label for="form34">Subject</label>
      </div>

      <div class="md-form">
        <i class="fa fa-pencil prefix"></i>
        <textarea type="text" id="form8" class="md-textarea"></textarea>
        <label for="form8">Icon Prefix</label>
      </div>-->

      <!--<div class="text-center">
        <button class="btn btn-default">Submit</button>

        <div class="call">
          <br>
          <p>Or would you prefer to call?
            <br>
            <span><i class="fa fa-phone"> </i></span> + 01 234 565 280</p>
        </div>
      </div>-->

    </div>


    </div>

  <!--<div class="col-md-4">

    <h2>info</h2>

  </div>-->
</div>

<!--<form action="upload.php" method="post" enctype="multipart/form-data">
    Select image to upload:
    <input type="file" name="fileToUpload" id="fileToUpload">
    <input type="submit" value="Upload Image" name="submit">
</form>-->

<!--<form action="/action_page.php">
  Select images: <input type="file" name="img" multiple>
  <input type="submit">
</form>

<form action="/action_page.php" method="get">
  <input type="checkbox" name="vehicle" value="Bike"> I have a bike<br>
  <input type="checkbox" name="vehicle" value="Car" checked="checked"> I have a car<br>
  <input type="submit" value="Submit">
</form>-->
<!--<form action="">
  <input type="radio" name="gender" value="male"> Male<br>
  <input type="radio" name="gender" value="female"> Female<br>
  <input type="radio" name="gender" value="other"> Other
</form>

<div class="dropdown-menu">
          <a class="dropdown-item" href="#">Large scale Hotels</a>
          <a class="dropdown-item" href="#">Medium scale Hotels</a>
          <a class="dropdown-item" href="#">Single person business</a>
          <a class="dropdown-item" href="#">Service providers</a>
        </div>-->


</main>





