<app-navbar></app-navbar>
<app-sideview>

</app-sideview>


<main class="myMain">

  <div class="container-fluid row">
  <div class="card">


  <div class="card-block " id="border">
  <div class="form-header  blue darken-4">
  <h3><i class="fa fa-briefcase"></i> Create Business Page</h3>
  </div>

  <div class="inner contact">
    <h4>Fill details here</h4>
    <hr>
    <!-- Form Area -->
    <div class="contact-form">
      <!-- Form -->
      <form id="contact-us" method="post" action="#">
        <!-- Left Inputs -->
        <div class="col-xs-6 wow animated fadeIn" data-wow-delay=".5s">
          <!-- Name -->
          <input type="text" name="name" id="name" required="required" class="form" placeholder="Company Name" / [(ngModel)]="cname">
          <!-- Email -->
          <div class="col-md-6">
          <input type="email" name="mail" id="mail" required="required" class="form" placeholder="Email" [(ngModel)]="email" />
          </div>
          <div class="col-md-6">
          <input type="email" name="mail" id="tel" required="required" class="form" placeholder="Telephone" [(ngModel)]="telephone" />
          </div>
          <input type="email" name="mail" id="web" required="required" class="form" placeholder="Web Site" [(ngModel)]="website" />
          <!-- Subject -->
          <div class="form-inline">
            <label><h6>Business Type</h6></label><br>
            <fieldset class="form-group">
              <input name="group1" type="radio" id="radio11" checked="checked">
              <label for="radio11">Hotel</label>
            </fieldset>

            <fieldset class="form-group">
              <input name="group1" type="radio" id="radio21">
              <label for="radio21">Resturent</label>
            </fieldset>

            <fieldset class="form-group">
              <input name="group1" type="radio" id="radio31">
              <label for="radio31">Other</label>
            </fieldset>
          </div>
        </div><!-- End Left Inputs -->
        <!-- Right Inputs -->
        <div class="col-xs-6 wow animated fadeIn" data-wow-delay=".5s">
          <!-- Message -->
          <textarea name="message" id="message" class="form textarea"  placeholder="Description"></textarea>
          <input type="email" name="mail" id="location" required="required" class="form" placeholder="Location" />
          <ul class="list-group" *ngshow>

            <li class="list-group-item">Cras justo odio</li>
            <li class="list-group-item">Dapibus ac facilisis in</li>
            <li class="list-group-item">Morbi leo risus</li>
            <li class="list-group-item">Porta ac consectetur ac</li>
            <li class="list-group-item">Vestibulum at eros</li>
          </ul>
        </div><!-- End Right Inputs -->

  <div class="row">


  </div>
        <!-- Bottom Submit -->
        <div class="relative fullwidth col-xs-12">
          <!-- Send Button -->
          <button type="submit" id="submit" name="submit" class="form-btn semibold" [routerLink]="['/profile/hotel-page']">Create Page</button>
        </div><!-- End Bottom Submit -->
        <!-- Clear -->
        <div class="clear"></div>

      </form>

      <!-- Your Mail Message -->
      <div class="mail-message-area">
        <!-- Message -->
        <div class="alert gray-bg mail-message not-visible-message">
          <strong>Thank You !</strong> Your email has been delivered.
        </div>
      </div>

    </div><!-- End Contact Form Area -->
  </div><!-- End Inner -->
  </div>
  </div>
  </div>





      <!--<div class="row">-->
        <!--<div class="col-md-6">-->
          <!--<label>Web Sites</label>-->
          <!--<input type="text" required>-->
          <!--<span class="highlight"></span>-->
          <!--<span class="bar"></span>-->
        <!--</div>-->
        <!--<div class="col-md-6">-->
          <!--<label>Telephone</label>-->
          <!--<input type="text" required>-->
          <!--<span class="highlight"></span>-->
          <!--<span class="bar"></span>-->
        <!--</div>-->
      <!--</div>-->

      <!--<div class="group col-md-6">-->
        <!--<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Business Category</button>-->

        <!--<div class="dropdown-menu">-->
          <!--<a class="dropdown-item">Large scale Hotels</a>-->
          <!--<a class="dropdown-item" href="">Medium scale Hotels</a>-->
          <!--<a class="dropdown-item" href="">Single person business</a>-->
          <!--<a class="dropdown-item" href="">Service providers</a>-->
        <!--</div>-->
      <!--</div>-->



      <!--<div class="group">-->
        <!--<div style="float:right">-->
          <!--<input type="text" required>-->
          <!--<span class="highlight"></span>-->
          <!--<span class="bar"></span>-->
          <!--<label>Email Address</label>-->
        <!--</div>-->

        <!--<div>-->
          <!--<input type="text" required>-->
          <!--<span class="highlight"></span>-->
          <!--<span class="bar"></span>-->
          <!--<label>Telephone Number</label>-->
        <!--</div>-->
       <!--</div>-->

      <!--<div class="group">-->
        <!--<div style="float:right">-->
          <!--<input type="file" name="img" id="imgsToUpload" multiple>-->
          <!--<span class="highlight"></span>-->
          <!--<span class="bar"></span>-->
          <!--<label>Album</label>-->
        <!--</div>-->

        <!--<div>-->
          <!--<input type="file" name="fileToUpload" id="fileToUpload">-->
          <!--<span class="highlight"></span>-->
          <!--<span class="bar"></span>-->
          <!--<label>Cover Photo</label>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="md-form">-->
        <!--<input value="John Doe" type="text" id="form6" class="form-control">-->
        <!--<label class="active" for="form6">Example label</label>-->
      <!--</div>-->
   <!---->

      <!--<div class="group">-->
      <!---->

        <!--<div>-->
          <!--<input type="text" required>-->
        <!--<span class="highlight"></span>-->
        <!--<span class="bar"></span>-->
        <!--<label>Targetting Location</label>-->
        <!--</div>-->
      <!--</div>-->

      <!--<div class="group">-->
        <!--<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Targetting People</button>-->

        <!--<div class="dropdown-menu">-->
          <!--<a class="dropdown-item">Male</a>-->
          <!--<a class="dropdown-item" href="">Female</a>-->
          <!--<a class="dropdown-item" href="">Both</a>-->

        <!--</div>-->
      <!--</div>-->

       <!--<div class="group">-->

        <!--<button type="button" class="btn btn-primary btn-block">CREATE BUSINESS PAGE</button>-->

       <!--</div>-->




    <!--</form>-->

    <!---->

    <!--</div>-->


    <!--</div>-->

<!--</div>-->





</main>





