
<app-navbar></app-navbar>
<div class="container">
	<div class="row">
		<form class="form-horizontal" (submit)="pageCreate()">
            <fieldset>
                <!-- Form Name -->
                <legend>Form Name</legend>
                <!-- Text input-->


                <div class="form-group">
                    <label class="col-md-4 control-label" for="textinput">page Name</label>
                    <div class="col-md-6">
                        <input id="textinput"  [(ngModel)]="pagename" name="pagename" type="text" placeholder="placeholder" class="form-control input-md">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-4 control-label" for="notifymode">buisness type</label>
                    <div class="col-md-6">
                        <select id="notifymode" class="form-control" [(ngModel)]="businesstype" name="businesstype">

                            <option value="1">Local business</option>
                            <option value="2">Company,Organization</option>
                            <option value="3">Brand or Products</option>
                        </select>
                    </div>
                </div>

              <div class="form-group">
                    <label class="col-md-4 control-label" for="textinput">page image</label>
                    <div class="col-md-6">
                        <input type="file" class="form-control" id="images" name="images[]" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-4 control-label" for="textinput">Target Areas</label>
                    <div class="col-md-6">

                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label" for="submitButton"></label>
                    <div class="col-md-8">
                        <button id="submitButton" name="submitButton" class="btn btn-success" type="submit">Save</button>
                        <button id="cancel" name="cancel" class="btn btn-inverse" type="reset">Cancel</button>
                    </div>
                </div>
            </fieldset>
        </form>
	</div>
</div>

