
<app-sideview>

</app-sideview>
<app-navbar></app-navbar>
<main class="Mymain">
  <div class="row">
    <div class="col-md-8">

      <form (submit)="submitBlogpost()" method="post">

        <label for="">title</label>
        <input type="text" name="postTitle" [(ngModel)]="postTitle">

        <!--<div [froalaEditor] [(ngModel)]="body" name="body">Hello, Froala!</div>-->
        <input type="text" name="body" [(ngModel)]="body">
        <input type="submit" value="submit">

      </form>




    </div>
    <div class="col-md-4">
      <app-suggestionarea></app-suggestionarea>
    </div>
  </div>





</main>
