<section class="section ">

    <!--Section heading-->
    <h1 class="section-heading">Welcome to Serene Bridge Resort</h1>
    <!--Section sescription-->
    <p class="section-description">Welcome to Serene Bridge Resort a resort just one hour drive away from busy Colombo the commercial capital of Sri Lanka. The resort is surrounded by lush green rubber plantations with giving cool breeze to our visitors who are from all over the world to discover this miraculous island. At Serene Bridge Resort we are offering our services with world famous Sri Lankan hospitality and traditional foods which are from hundreds years. We have private cabanas in front of our lovely swimming pool area, built with modern architecture to make your holidays unforgettable. </p>

    <!--First row-->
    <div class="row">

        <!--First column-->
        <div class="col-md-5 mb-r">
            <!--Featured image-->
            <div class="view overlay hm-white-slight">
                <img src="assets/img/A2.jpg" alt="Sample image for first version of blog listing">
                <a>
                    <div class="mask waves-effect waves-light"></div>
                </a>
            </div>
        </div>
        <!--/First column-->

        <!--Second column-->
        <div class="col-md-7 mb-r">
            <!--Excerpt-->
            <h4>Accommodation-in Countryside Close to Commerical Capital</h4>
            <p>Because of the quiet and calm of our location people who are living with hustles and bustles of their day today are love to stay here for short term holidays. Our well trained staff will enhance the enjoyment of your holiday. </p>
        </div>
        <!--/Second column-->

    </div>
    <!--/First row-->

    <hr class="hr-mobile">

    <!--Second row-->
    <div class="row">

        <!--First column-->
        <div class="col-md-7 mb-r">
            <!--Excerpt-->
            <h4>Discover the Beauty of Wet Zone</h4>
            <p>We are close to the famous Seethawaka Wet Zone botanical gardens, which owns varieties of wet zone endemic flora and fauna with creating amazing sceneries.</p>
            
        </div>
        <!--/First column-->

        <!--Second column-->
        <div class="col-md-5 mb-r">
            <!--Featured image-->
            <div class="view overlay hm-white-slight">
                <img src="assets/img/wetZone.jpg" alt="Second image in the first version of blog listing">
                <a>
                    <div class="mask waves-effect waves-light"></div>
                </a>
            </div>
        </div>
        <!--/Second column-->

    </div>
    <!--/Second row-->

    <hr class="hr-mobile">

    <!--Third row-->
    <div class="row">

        <!--First column-->
        <div class="col-md-5 mb-r">
            <!--Featured image-->
            <div class="view overlay hm-white-slight">
                <img src="assets/img/weddings.jpg" alt="Thrid image in the blog listing.">
                <a>
                    <div class="mask waves-effect waves-light"></div>
                </a>
            </div>
        </div>
        <!--/First column-->

        <!--Second column-->
        <div class="col-md-7 mb-r">
            <!--Excerpt-->
            <h4>Weddings & Functions</h4>
            <p>We have good experience on hosting weddings and other functions, and with our modern newly built reception hall we can fulfill all of your function’s requirement. Friendly staff with pleasant looking smile will serve you and your guests with traditional Sri Lankan hospitality. Our chef is the most valuable member in our staff who is skilled in several world famous cuisines like traditional Sri Lankan, Chinese, Western and Eastern. </p>
        </div>
        <!--/Second column-->

    </div>
    <!--/Third row-->

</section>
<!--/Section: Blog v.1-->