<section class="section ">

    <!--Section heading-->
    <h1 class="section-heading">Welcome to Serene Bridge Resort</h1>
    <!--Section sescription-->
    <p class="section-description">Welcome to Serene Bridge Resort a resort just one hour drive away from busy Colombo the commercial capital of Sri Lanka. The resort is surrounded by lush green rubber plantations with giving cool breeze to our visitors who are from all over the world to discover this miraculous island. At Serene Bridge Resort we are offering our services with world famous Sri Lankan hospitality and traditional foods which are from hundreds years. We have private cabanas in front of our lovely swimming pool area, built with modern architecture to make your holidays unforgettable. </p>



</section>
<!--/Section: Blog v.1-->
