<!--
<nav class="navbar navbar-dark navbar-fixed-top scrolling-navbar">

  &lt;!&ndash; Collapse button&ndash;&gt;
  <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#collapseEx">
    <i class="fa fa-bars"></i>
  </button>

  <div class="container">

    &lt;!&ndash;Collapse content&ndash;&gt;
    <div class="collapse navbar-toggleable-xs" id="collapseEx">
      &lt;!&ndash;Navbar Brand&ndash;&gt;
      <a class="navbar-brand" href="http://mdbootstrap.com/material-design-for-bootstrap/" target="_blank">TWM</a>
      &lt;!&ndash;Links&ndash;&gt;
      <ul class="nav navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#register">Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
      </ul>
      <ul class="nav navbar-nav pull-right">
        <li class="nav-item">
          <a href="javascript:void(0)" class="center btn btn-raised btn-danger btn-round" data-toggle="modal" data-target="#login" value="click" onclick="setVisible()">Login</a>

        </li>
      </ul>
      &lt;!&ndash;Search form&ndash;&gt;
      <form class="form-inline" id="homesearch">
        <input class="form-control" type="text" placeholder="Search" id="search">
      </form>

      <form class="form-inline" id="loginform" style = "display:none">
        <input class="form-control animated slideInRight" type="text" placeholder="User Name">
        <input class="form-control animated slideInRight" type="text" placeholder="Password">
      </form>


    </div>
    &lt;!&ndash;/.Collapse content&ndash;&gt;

  </div>

</nav>-->

<!--<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Brand</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
      <ul class="nav navbar-nav navbar-left">
        <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true} " *ngIf="!authService.loggedIn()" ><a [routerLink]="['']">home</a></li>


      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true} " *ngIf="authService.loggedIn()" ><a [routerLink]="['/dashboard']">dashboard</a></li>
        <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" *ngIf="authService.loggedIn() "><a [routerLink]="['/profile']" >profile</a></li>
        <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" *ngIf="!authService.loggedIn()" (click)="auth.login()"><a>login</a></li>
        <li *ngIf="authService.loggedIn()"><a href="#" (click)="logoutClick() || auth.logout()">logout</a></li>
      </ul>
    </div>
  </div>
</nav>-->
