
<nav class="navbar navbar-fixed-top scrolling-navbar double-nav">

  <!-- SideNav slide-out button -->
  <div class="float-xs-left">
    <a id="linkSlidingBar" href="#" data-activates="slide-out" class="button-collapse waves-effect" ><i class="fa fa-bars" ></i></a>
  </div>

  <!-- Breadcrumb-->
  <div class="breadcrumb-dn">
    <p>MDB Blog Home Page</p>
  </div>


  <ul class="nav navbar-nav float-xs-right ">

    <li class="nav-item ">
      <a class="nav-link"> <span class="tag red z-depth-1">2</span> <i class="fa fa-shopping-cart"></i> <span class="hidden-sm-down">Cart</span></a>
    </li>
    <li class="nav-item ">
      <a class="nav-link waves-effect"><i class="fa fa-envelope"></i> <span class="hidden-sm-down">Contact</span></a>
    </li>
    <li class="nav-item ">
      <a class="nav-link waves-effect"><i class="fa fa-comments-o"></i> <span class="hidden-sm-down">Support</span></a>
    </li>
    <li class="nav-item ">
      <a class="nav-link waves-effect"><i class="fa fa-sign-in"></i> <span class="hidden-sm-down">Register</span></a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle waves-effect" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user"></i> <span class="hidden-sm-down">Profile</span></a>
      <div class="dropdown-menu dropdown-primary dd-right" aria-labelledby="dropdownMenu1" data-dropdown-in="fadeIn" data-dropdown-out="fadeOut">
        <li *ngIf="authService.loggedIn()" (click)="authService.logout()"><a class="dropdown-item waves-effect">Logout</a></li>
        <li *ngIf="authService.loggedIn()"><a class="dropdown-item waves-effect" >My account</a></li>
      </div>
    </li>
  </ul>

</nav>
<!--/.Navbar-->
