::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #e1e1e1;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}
::-webkit-scrollbar-thumb:active {
  background: #000000;
}
::-webkit-scrollbar-track {
  background: #666666;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
  background: #666666;
}
::-webkit-scrollbar-track:active {
  background: #333333;
}
::-webkit-scrollbar-corner {
  background: transparent;
}


.sebm-google-map-container {
  height: 300px;
}





.sebm-google-map-container {
  height: 300px;
}
/* form starting stylings ------------------------------- */
.group 			  {
  position:relative;
  margin-bottom:45px;
}
#search{
  border:none;
  border-bottom:1px solid #757575;
  background-color: white !important;
  border-radius: 6px ;
  padding: 0!important;
  margin: 0 !important;
}

#searchlist{
  color: black !important;
}

input{
  border:none;
  border-bottom:1px solid #757575;
  background: transparent;
  padding: 10px 10px 10px 10px;
  margin: 10px;
}
input:focus 		{ outline:none; }
