<app-navbar></app-navbar>
<app-sideview>

</app-sideview>

<main class="MyMain">
  <div class="row">
    <div class="col-xlg-4 col-xl-4 col-lg-4 col-sm-4 col-4 card"
             title="dashboard.acquisition_channels" baCardClass="traffic-panel medium-card">
      <app-traffic-chart></app-traffic-chart>
    </div>
    <div class="col-xlg-4 col-xl-4 col-lg-4 col-sm-4 col-4 card"
         title="dashboard.acquisition_channels" baCardClass="traffic-panel medium-card">
      <app-traffic-chart></app-traffic-chart>
    </div>
    <div class="col-xlg-4 col-xl-4 col-lg-4 col-sm-4 col-4 card"
         title="dashboard.acquisition_channels" baCardClass="traffic-panel medium-card">
      <app-traffic-chart></app-traffic-chart>
    </div>

    <div class="col-xlg-12 col-xl-12 col-lg-12 col-sm-12 col-12 card"
             title="dashboard.users_by_country" baCardClass="medium-card">
      <app-users-map></app-users-map>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-6 col-xl-6 card">
      <h2 class="card-title">FeedBack</h2>
      <mdl-list >
        <mdl-list-item lines="3">
          <mdl-list-item-primary-content>
            <mdl-icon mdl-list-item-avatar>person</mdl-icon>
            <span>Bryan Cranston</span>
            <mdl-list-item-text-body>
              Bryan Cranston played the role of Walter in Breaking Bad. He is also known
              for playing Hal in Malcom in the Middle.
            </mdl-list-item-text-body>
          </mdl-list-item-primary-content>
          <mdl-list-item-secondary-content>
            <a href="#"><mdl-icon>star</mdl-icon></a>
          </mdl-list-item-secondary-content>
        </mdl-list-item>
        <mdl-list-item lines="3">
          <mdl-list-item-primary-content>
            <mdl-icon mdl-list-item-avatar>person</mdl-icon>
            <span>Aaron Paul</span>
            <mdl-list-item-text-body>
              Aaron Paul played the role of Jesse in Breaking Bad. He also featured in
              the "Need For Speed" Movie.
            </mdl-list-item-text-body>
          </mdl-list-item-primary-content>
          <mdl-list-item-secondary-content>
            <a href="#"><mdl-icon>star</mdl-icon></a>
          </mdl-list-item-secondary-content>
        </mdl-list-item>
        <mdl-list-item lines="3">
          <mdl-list-item-primary-content>
            <mdl-icon mdl-list-item-avatar>person</mdl-icon>
            <span>Bob Odenkirk</span>
            <mdl-list-item-text-body>
              Bob Odinkrik played the role of Saul in Breaking Bad. Due to public fondness for the
              character, Bob stars in his own show now, called "Better Call Saul".
            </mdl-list-item-text-body>
          </mdl-list-item-primary-content>
          <mdl-list-item-secondary-content>
            <a href="#"><mdl-icon>star</mdl-icon></a>
          </mdl-list-item-secondary-content>
        </mdl-list-item>
      </mdl-list>
    </div>
  </div>

</main>
