<app-navbar></app-navbar>
<app-sideview>

</app-sideview>

<main class="MyMain">
  <div class="row">
    <div class="col-xlg-4 col-xl-4 col-lg-4 col-sm-4 col-4 card"
             title="dashboard.acquisition_channels" baCardClass="traffic-panel medium-card">
      <app-traffic-chart></app-traffic-chart>
    </div>
    <div class="col-xlg-4 col-xl-4 col-lg-4 col-sm-4 col-4 card"
         title="dashboard.acquisition_channels" baCardClass="traffic-panel medium-card">
      <app-traffic-chart></app-traffic-chart>
    </div>
    <div class="col-xlg-4 col-xl-4 col-lg-4 col-sm-4 col-4 card"
         title="dashboard.acquisition_channels" baCardClass="traffic-panel medium-card">
      <app-traffic-chart></app-traffic-chart>
    </div>

    <div class="col-xlg-12 col-xl-12 col-lg-12 col-sm-12 col-12 card"
             title="dashboard.users_by_country" baCardClass="medium-card">
      <app-users-map></app-users-map>
    </div>
  </div>

</main>
