<br>
<br>
<br>


<div class="column col-lg-3" id="sidebar_right" mdl-shadow="2">
 <section>
   Advertisement
   <div><app-suggestpages style="max-height: 1rem !important; max-width: 2rem !important;"></app-suggestpages></div>
 </section>
  <hr>
  <section>
    Blogs
<app-suggestblogs>

</app-suggestblogs>
  </section>
  <hr>
  <section>
    Travels
    <app-suggestplaces></app-suggestplaces>
  </section>
  <hr>
  <li>
    <div class="card">
      <h3 class="card-header primary-color white-text">Featured</h3>
      <div class="card-block">
        <h4 class="card-title">Special title treatment</h4>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </li>
</div>
