<app-sideview>

</app-sideview>
<app-navbar></app-navbar>
<main class="Mymain">
  <div class="container-fluid">

    <div class="row">
      <div class="col-md-8">
        <div class="card">
          <div id="map-container" class="z-depth-1">
            <sebm-google-map [latitude]="latitude" [longitude]="longitude" [scrollwheel]="false" [zoom]="zoom" [styles]="mapCustomStyles">
              <!-- <sebm-google-map-marker [latitude]="latitude" [longitude]="longitude" [iconUrl]="iconurl">
                  <sebm-google-map-info-window>
                      <strong>InfoWindow content</strong>
                  </sebm-google-map-info-window>
              </sebm-google-map-marker> -->
              <sebm-google-map-directions [origin]="origin" [destination]="destination" [waypoints]="waypoints"></sebm-google-map-directions>
            </sebm-google-map>


          </div>

          <!-- Nav tabs -->
          <ul class="nav nav-tabs tabs-3 indigo" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" href="#panel5" role="tab"><i class="fa fa-cutlery"></i> Eat</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#panel6" role="tab"><i class="fa fa-heart"></i> Travel</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#panel7" role="tab"><i class="fa fa-moon-o"></i> Sleep</a>
            </li>
          </ul>
          <!-- Tab panels -->
          <div class="tab-content ">
            <!--Panel 1-->
            <div class="tab-pane fade in show active" id="panel5" role="tabpanel">
              <br>
              <!--Carousel Wrapper-->
              <div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">


                <!--Slides-->
                <div class="carousel-inner" role="listbox">

                  <!--First slide-->
                  <div class="carousel-item active" *ngIf="roomsdata">

                    <div class="col-md-6" *ngFor="let item of roomsdata">
                      <div class="card animated fadeIn">
                        <a class="btn-floating btn-small blue pull-right waves-effect waves-light"><i class="fa fa-plus"></i></a>
                        <img class="img-fluid" src="https://s-media-cache-ak0.pinimg.com/originals/fa/94/a5/fa94a5d7235d1c883a1adea1e3f7dd5e.jpg"
                          alt="Card image cap">
                        <div class="card-block">
                          <h4 class="card-title">{{item.pagename}}</h4>
                          <p class="card-text">{{item.description}} </p>
                          <a href="#" class="btn btn-primary">View</a>
                        </div>
                      </div>
                    </div>

                    <!--<div class="col-md-6 hidden-sm-down">
                      <div class="card animated fadeIn">
                        <a class="btn-floating btn-small blue pull-right waves-effect waves-light"><i class="fa fa-plus"></i></a>
                        <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(23).jpg" alt="Card image cap">
                        <div class="card-block">
                          <h4 class="card-title">Card title</h4>
                          <p class="card-text">add කරපුවම උඩ map එකේ එක පෙන්න ඕන mark වෙලා </p>
                          <a href="#" class="btn btn-primary">View</a>
                        </div>
                      </div>
                    </div>-->

                  </div>
                  <div class="carousel-item " *ngIf="roomsdata">

                    <div class="col-md-6" *ngFor="let item of roomsdata">
                      <div class="card animated fadeIn">
                        <a class="btn-floating btn-small blue pull-right waves-effect waves-light"><i class="fa fa-plus"></i></a>
                        <img class="img-fluid" src="https://s-media-cache-ak0.pinimg.com/originals/fa/94/a5/fa94a5d7235d1c883a1adea1e3f7dd5e.jpg"
                          alt="Card image cap">

                        <div class="card-block">
                          <h4 class="card-title">{{item.pagename}}</h4>
                          <h5 class="card-title">Location {{item.location}}</h5>

                          <p class="card-text">{{item.description}} </p>
                          <a href="#" class="btn btn-primary">View</a>
                        </div>
                      </div>
                    </div>

                  </div>
                  <!--/.First slide-->

                </div>
                <!--/.Slides-->

              </div>
              <!--/.Carousel Wrapper-->
            </div>
            <!--/.Panel 1-->
            <!--Panel 2-->
            <div class="tab-pane fade" id="panel6" role="tabpanel">
              <br>
              <div class="container-fluid" *ngIf="nearby">
                <div class="col-lg-6 view hm-zoom animated fadeIn" *ngFor="let items of nearby">
                  <h3 class="text-mid">{{items.name}}</h3>
                  <h3 class="text-mid">{{items.rating}}</h3>
                  <a class="btn-floating btn-small blue pull-right"><i class="fa fa-plus"></i></a>
                  <img [src]="items.icon">

                </div>



              </div>
            </div>
            <!--/.Panel 2-->
            <!--Panel 3-->
            <div class="tab-pane fade " id="panel7" role="tabpanel">
              <br>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil odit magnam minima, soluta doloribus reiciendis
                molestiae placeat unde eos molestias. Quisquam aperiam, pariatur. Tempora, placeat ratione porro voluptate
                odit minima.</p>
            </div>
            <!--/.Panel 3-->
          </div>
        </div>
        <div class="card card-block">
          <div class="row" *ngFor="let item of blogdata">

            <!--First column-->
            <div class="col-md-5 mb-r">
              <!--Featured image-->
              <div class="view overlay hm-white-slight">
                <img [src]="item.featured_img">
                <a>
                  <div class="mask waves-effect waves-light"></div>
                </a>
              </div>
            </div>
            <!--/First column-->

            <!--Second column-->
            <div class="col-md-7 m-b-r wow fadeIn" data-wow-delay="0.2s">
              <!--Excerpt-->
              <h5 class="teal-text "><i class="fa fa-money "></i>Blogs</h5>
              <h4>{{item.postTtile}}</h4>
              <p></p>
              <p>by <a><strong>{{item.username}}</strong></a>,{{item.dateAdded}} </p>
              <a class="btn btn-primary ">Read more</a>
            </div>
            <!--/Second column-->
            <hr>
          </div>

        </div>
        <div class="row">

          <div class="col-md-12 " style="background-color: white !important;padding: 20px 20px 20px 30px !important;">
            <h3>Reviews</h3>
            <hr>
            <!--First review-->
            <div class="media mb-1">
              <a class="media-left waves-light">
                <img class="rounded-circle" src="https://mdbootstrap.com/img/Photos/Avatars/avatar-13.jpg" alt="Generic placeholder image">
              </a>
              <div class="media-body">
                <h4 class="media-heading">John Doe</h4>
                <ul class="rating inline-ul">
                  <li><i class="fa fa-star amber-text"></i></li>
                  <li><i class="fa fa-star amber-text"></i></li>
                  <li><i class="fa fa-star amber-text"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                </ul>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi cupiditate temporibus iure soluta. Quasi mollitia
                  maxime nemo quam accusamus possimus, voluptatum expedita assumenda. Earum sit id ullam eum vel delectus!</p>
              </div>
            </div>

            <!--Second review-->
            <div class="media mb-1">
              <a class="media-left waves-light">
                <img class="rounded-circle" src="https://mdbootstrap.com/img/Photos/Avatars/avatar-14.jpg" alt="Generic placeholder image">
              </a>
              <div class="media-body">
                <h4 class="media-heading">Nathan Casie</h4>
                <ul class="rating inline-ul">
                  <li><i class="fa fa-star amber-text"></i></li>
                  <li><i class="fa fa-star amber-text"></i></li>
                  <li><i class="fa fa-star amber-text"></i></li>
                  <li><i class="fa fa-star amber-text"></i></li>
                  <li><i class="fa fa-star amber-text"></i></li>
                </ul>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi cupiditate temporibus iure soluta. Quasi mollitia
                  maxime nemo quam accusamus possimus, voluptatum expedita assumenda. Earum sit id ullam eum vel delectus!</p>
              </div>
            </div>

            <!--Second review-->
            <div class="media mb-1">
              <a class="media-left waves-light">
                <img class="rounded-circle" src="https://mdbootstrap.com/img/Photos/Avatars/avatar-15.jpg" alt="Generic placeholder image">
              </a>
              <div class="media-body">
                <h4 class="media-heading">Dave Snow</h4>
                <ul class="rating inline-ul">
                  <li><i class="fa fa-star amber-text"></i></li>
                  <li><i class="fa fa-star amber-text"></i></li>
                  <li><i class="fa fa-star amber-text"></i></li>
                  <li><i class="fa fa-star amber-text"></i></li>
                  <li><i class="fa fa-star"></i></li>
                </ul>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi cupiditate temporibus iure soluta. Quasi mollitia
                  maxime nemo quam accusamus possimus, voluptatum expedita assumenda. Earum sit id ullam eum vel delectus!</p>
              </div>
            </div>

          </div>

        </div>
      </div>
      <div class="col-md-4 ">
        <div class="col-md-12 animated fadeInUp ">
          <!--Card-->
          <div class="card card-cascade wider">

            <!--Card image-->
            <div class="view overlay hm-white-slight">
              <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20%2813%29.jpg" class="img-fluid">
              <a href="#!">
                <div class="mask waves-effect waves-light"></div>
              </a>
            </div>
            <!--/Card image-->

            <!--Card content-->
            <div class="card-block text-center">
              <!--Title-->
              <h4 class="card-title"><strong>Create Trip Here</strong></h4>
              <form (submit)="addTrip()">
                <label for="tripname">Trip Name</label>
                <input id="tripname" placeholder="Trip Name" required="required" class="form col-md-3" autocorrect="off" autocapitalize="off"
                  spellcheck="off" type="text" class="form-control form" [(ngModel)]="model.name" name="name" />
                <label for="start">Start Point</label>
                <input id="start" placeholder="Enter source  location" required="required" class="form col-md-3" autocorrect="off" autocapitalize="off"
                  spellcheck="off" type="text" class="form-control form" #pickupInput [formControl]="destinationInput" [(ngModel)]="model.from"
                  name="form" />
                <label for="end">End Point</label>
                <input id="end" placeholder="Enter destination" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="col-md-3 form"
                  #pickupOutput [formControl]="destinationOutput" (keyup)="getDestinationLocation($event)" [(ngModel)]="model.to"
                  name="to" /><br>
                <label for="waypoint">Wayoints</label>
                <input id="waypoint" placeholder="waypoint input" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control form"
                  #waypoint [formControl]="waypointOutput" [(ngModel)]="model.waypoints" name="waypoints" />
                <div class="text-center">
                  <button class="btn btn-outline-info btn-rounded waves-effect" type="submit" >Create</button>
                </div>

              </form>

            </div>
            <!--/.Card content-->

          </div>
          <!--/.Card-->
        </div>

        <!--<div class="col-md-12">-->
        <!--<div class="weather-card one">-->
        <!--<div class="top">-->
        <!--<div class="wrapper mask waves-effect waves-light">-->
        <!--<div class="mynav">-->
        <!--<a href="javascript:;"><span class="lnr lnr-chevron-left"></span></a>-->
        <!--<a href="javascript:;"><span class="lnr lnr-cog"></span></a>-->
        <!--</div>-->
        <!--<h1 class="heading">Clear night</h1>-->
        <!--<h3 class="location">Dhaka, Bangladesh</h3>-->
        <!--<p class="temp">-->
        <!--<span class="temp-value">20</span>-->
        <!--<span class="deg">0</span>-->
        <!--<a href="javascript:;"><span class="temp-type">C</span></a>-->
        <!--</p>-->
        <!--</div>-->
        <!--</div>-->
        <!--<div class="bottom">-->
        <!--<div class="wrapper">-->
        <!--<ul class="forecast">-->
        <!--<a href="javascript:;"><span class="lnr lnr-chevron-up go-up"></span></a>-->
        <!--<li class="active">-->
        <!--<span class="date">Yesterday</span>-->
        <!--<span class="lnr lnr-sun condition">-->
        <!--<span class="temp">23<span class="deg">0</span><span class="temp-type">C</span></span>-->
        <!--</span>-->
        <!--</li>-->
        <!--<li>-->
        <!--<span class="date">Tomorrow</span>-->
        <!--<span class="lnr lnr-cloud condition">-->
        <!--<span class="temp">21<span class="deg">0</span><span class="temp-type">C</span></span>-->
        <!--</span>-->
        <!--</li>-->
        <!--</ul>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->

        <div class="col-md-12 card scrollable">
          <br>
          <h4>Friends</h4>
          <h5>33 friends has been there</h5>
          <mdl-list>

            <mdl-list-item mdl-ripple>
              <mdl-list-item-primary-content>
                <mdl-icon mdl-list-item-avatar>person</mdl-icon>
                <span>Bryan Cranston</span>
              </mdl-list-item-primary-content>
              <a href="#">
                <mdl-icon>star</mdl-icon>
              </a>
            </mdl-list-item>

            <mdl-list-item mdl-ripple>
              <mdl-list-item-primary-content>
                <mdl-icon mdl-list-item-avatar>person</mdl-icon>
                <span>Bryan Cranston</span>
              </mdl-list-item-primary-content>
              <a href="#">
                <mdl-icon>star</mdl-icon>
              </a>
            </mdl-list-item>

            <mdl-list-item mdl-ripple>
              <mdl-list-item-primary-content>
                <mdl-icon mdl-list-item-avatar>person</mdl-icon>
                <span>Bryan Cranston</span>
              </mdl-list-item-primary-content>
              <a href="#">
                <mdl-icon>star</mdl-icon>
              </a>
            </mdl-list-item>

            <mdl-list-item mdl-ripple>
              <mdl-list-item-primary-content>
                <mdl-icon mdl-list-item-avatar>person</mdl-icon>
                <span>Aaron Paul</span>
              </mdl-list-item-primary-content>
              <a href="#">
                <mdl-icon>star</mdl-icon>
              </a>
            </mdl-list-item>

            <mdl-list-item mdl-ripple>
              <mdl-list-item-primary-content>
                <mdl-icon mdl-list-item-avatar>person</mdl-icon>
                <span>Bob Odenkirk</span>
              </mdl-list-item-primary-content>
              <mdl-list-item-secondary-content>
                <a href="#">
                  <mdl-icon>star</mdl-icon>
                </a>
              </mdl-list-item-secondary-content>
            </mdl-list-item>
          </mdl-list>
        </div>


      </div>

    </div>


  </div>
  <div class="modal animated bounceInLeft" id="tripcreate" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">
            <span aria-hidden="true">&times;</span>
            <span class="sr-only">Close</span>
          </button>
          <h4 class="modal-title" id="myModalLabel">
            Set Destinaion
          </h4>
        </div>

        <!-- Modal Body -->
        <div class="modal-body">

          <div class="row">

            <div class="col-md-6">
              <div class="md-form">
                <input placeholder="{{this.fautoplace}}" type="text" id="From" class="form-control" required="" (keyup)="getFromLocation()"
                  name="flocation" [(ngModel)]="flocation">
                <label for="From" class="">From</label>
              </div>
            </div>
            <div class="col-md-6">
              <div class="md-form">
                <input placeholder=" {{this.tautoplace}}" type="text" id="to" class="form-control" required="" (keyup)="getToLocation()"
                  name="tlocation" [(ngModel)]="tlocation" #origin>
                <label for="to" class="">To</label>
              </div>
            </div>
            <div class="col-md-6">
              <div class="row  list-group" *ngIf="Fresult">

                <li class="list-group-item list-group-item-action" *ngFor="let place of Fresult"><a (click)="addToTagfrom($event);false" id="{{place.place_id}}">{{ place.description}}</a></li>


              </div>

            </div>
            <div class="col-md-6">
              <div class="row list-group" *ngIf="Tresult">

                <li class="list-group-item list-group-item-action" *ngFor="let place of Tresult"><a (click)="addToTagto($event);false" id="{{place.place_id}}">{{ place.description}}</a></li>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div id="set_dest">

            </div>
          </div>

          <!--<div class="col-md-6">-->
          <!--<div class="container-fluid">-->
          <!--<img class="img-responsive img-fluid" src="http://www.srilankaforholidays.com/images/srilankamap1.jpg">-->
          <!--</div>-->
          <!--</div>-->
        </div>

        <!-- Modal Footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">
            Close
          </button>
          <button type="button" class="btn btn-primary" data-dismiss="modal" [routerLink]="['/profile/create/trip']" (click)="callLocationPass()">
            Let's Go
          </button>
        </div>
      </div>
    </div>



  </div>
</main>