x<script>
  // SideNav init
  $(".button-collapse").sideNav();
  var el = document.querySelector('.custom-scrollbar');
  Ps.initialize(el);
</script>

<script>
  new WOW().init();
</script>
<app-sideview>

</app-sideview>
<app-navbar></app-navbar>

<!--Main layout-->
<main class="myMain" >
  <div class="container-fluid row" *ngIf="user">

    <!--Cover-->
    <div class=" mb-r wow fadeIn" data-wow-delay="0.4s" >
      <!--Card-->
      <div   class="card testimonial-card  ">

        <!--Background color-->
        <div class="card-up blue cardone">
        </div>

        <!--Avatar-->
        <div class="avatar"><img  src="{{ user.picture_large}}">
        </div>

        <div class="card-block cardname" style="padding-left: 0; padding-right: 0;">
          <!--Name-->
          <h4 class="card-title">{{user.name}}</h4>
          <hr>
          <!-- Nav tabs -->
          <div class="tabs-wrapper">
            <ul class="nav classic-tabs blue accent-4 " role="tablist">
              <li class="nav-item tabpad">
                <a class="nav-link waves-light waves-effect waves-light active tabpad" data-toggle="tab" href="#panel51" role="tab" aria-expanded="true">Time Line</a>
              </li>
              <li class="nav-item">
                <a class="nav-link waves-light waves-effect waves-light tabpad" data-toggle="tab" href="#panel52" role="tab" aria-expanded="false">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link waves-light waves-effect waves-light tabpad" data-toggle="tab" href="#panel53" role="tab" aria-expanded="false">Friends</a>
              </li>

              <li class="nav-item">
                <a class="nav-link waves-light waves-effect waves-light tabpad" data-toggle="tab" href="#panel54" role="tab" aria-expanded="false">Pages You Manage</a>
              </li>

              <li class="nav-item">
                <a class="nav-link waves-light waves-effect waves-light tabpad" data-toggle="tab" href="#panel55" role="tab" aria-expanded="false">Privacy Settings</a>
              </li>
            </ul>
          </div>
          <!-- Nav tabs -->
        </div>

      </div>
      <!--/.Card-->
    </div>
    <!--Cover-->

    <!-- Tab panels -->
    <div class="tab-content card">

      <!--Panel 1 Timeline-->
      <div class="tab-pane fade in active show" id="panel51" role="tabpanel" aria-expanded="true">
        <div class="row padthis" >
          <div class="container">
            <div class="page-header">
              <h1 id="timeline">Timeline</h1>
            </div>
            <ul class="timeline">
              <li>
                <div class="timeline-badge primary"><i class="fa fa-check-circle-o"></i></div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4 class="timeline-title">Trip to Pidurutalagala</h4>
                    <p><small class="text-muted"><i class="fa fa-clock-o"></i> 11 hours ago Created</small></p>
                  </div>
                  <div class="timeline-body">
                    <p>Pidurutalagala (Sinhalese: පිදුරුතලාගල, pronounced [ˌpidurutaˈlaːɡələ], Straw Plateau Rock), or Mount Pedro in English, is an ultra prominent peak, and the tallest mountain in Sri Lanka, at 2,524 m (8,281 ft). Mount Pedro is located close to the city of Nuwara Eliya, and is easily visible from most areas of the Central Province. It is situated North-North-East from the town of Nuwara Eliya.

                      Its summit is home to the central communications array of the Government of Sri Lanka and armed forces, and serves as an important point in the country's radar system. The peak is currently designated as an "Ultra-high security zone", and is protected by a large military base; being strictly off limits to the general public.

                      On 1 March 2010, a small wildfire broke out over the mountain's forest cover. The fire destroyed 3 acres (0.012 km2) of forest, before being doused by the Sri Lanka Air Force and nearly 300 local residents.</p>
                  </div>
                </div>
              </li>
              <li class="timeline-inverted">
                <div class="timeline-badge warning"><i class="fa fa-credit-card"></i></div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4 class="timeline-title">HOTEL TOPAZ</h4>
                    <p><small class="text-muted"><i class="fa fa-clock-o"></i> 2 days ago Modified Business Page</small></p>
                  </div>
                  <div class="timeline-body">
                    <p>Set amid hillside gardens 1 km from Kandy railway station, this relaxed hotel overlooking the city is 2 km from both the Sri Dalada Maligawa Buddhist temple and the Royal Palace of Kandy.

                      Airy, colorful rooms feature free Wi-Fi, satellite TVs, minibars, balconies, and tea and coffeemaking facilities. Suites add living rooms.

                      There's a bright restaurant, along with a rooftop terrace offering regular BBQs, themed dinners, and city and nature views. Other amenities include an outdoor pool, gardens, a spa area, a gym and a TV lounge.</p>
                    </div>
                </div>
              </li>
              <li>
                <div class="timeline-badge danger"><i class="fa fa-credit-card"></i></div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4 class="timeline-title">Water Rafting in Kithulgala</h4>
                    <p><small class="text-muted"><i class="fa fa-clock-o"></i> Deleted Business Page</small></p>
                  </div>
                  <div class="timeline-body">
                    <p> Kitulgala is a small town in the west of Sri Lanka. It is in the wet zone rain forest, which gets two monsoons each year, and is one of the wettest places in the country. Nevertheless, it comes alive in the first three months of the year, especially in February, the driest month. The Academy Award-winning The Bridge on the River Kwai was filmed on the Kelani River near Kitulgala, although nothing remains now except the concrete foundations for the bridge (and, supposedly, the submerged train cars that plunged into the river in the climactic scene). Kitulgala is also a base for white-water rafting,[1] which starts a few kilometres upstream.</p>
                  </div>
                </div>
              </li>

              <li class="timeline-inverted">
                <div class="timeline-badge success"><i class="fa fa-thumbs-up"></i></div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4 class="timeline-title">Travel tips: Top 10 ways to make travelling easier</h4>
                  </div>
                  <div class="timeline-body">
                    <p>There's enough to deal with on the road as it is: unexpected things like buses breaking down, or flights being cancelled, or attractions that have suddenly closed, or that weird feeling in your stomach that means you'll have to hang around near a toilet today.

                      All of those things can make travel hard. And they will probably happen at some point.
                     </p>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>

      </div>
      <!--/.Panel 1-->

      <!--Panel 2 About-->
      <div class="tab-pane fade" id="panel52" role="tabpanel" aria-expanded="false">

        <!--Personal Info-->
            <div class="card">
                <div class="card-block">

                    <!--Header-->
                    <div class="text-center">
                        <h3> Personal Info:</h3>
                        <hr class="mt-2 mb-2">
                    </div>


                    <br>

                    <!--Body-->
                    

                    <div class="md-form">
                        <i class="fa fa-globe prefix"></i>
                        <input type="text" id="countryID" class="form-control" value="Sri Lanka">
                        <label for="countryID">Country</label>
                    </div>

                    <div class="md-form">
                        <i class="fa fa-map-marker prefix"></i>
                        <input type="text" id="cityID" class="form-control" value="Colombo">
                        <label for="cityID">City</label>
                    </div>

                    <div class="md-form">
                        <i class="fa fa-calendar prefix"></i>
                        <input placeholder="Selected date" type="text" id="bdID" class="form-control datepicker" value="1 December, 1994">
                        <label for="bdID">Birthday</label>
                    </div>


                    <div class="text-center">
                        <button class="btn btn-deep-orange waves-effect waves-light">Save</button>
                    </div>

                </div>
            </div>
            <!--Personal Info-->

            <!--Profile Pic-->
            <div class="card">
                <div class="card-block">

                    <!--Header-->
                    <div class="text-center">
                        <h3> Profile Picture:</h3>
                        <hr class="mt-2 mb-2">
                    </div>

                    <br>

                    <!--Body-->
                    <form>
                        <div class="file-field">

                            <div class="file-path-wrapper">
                                <input class="file-path validate valid" type="text" placeholder="Upload your Profile Picture">
                            </div>

                            <div class="btn btn-deep-orange waves-effect waves-light" style="
                                padding-bottom: 0px;
                                padding-top: 0px;
                                padding-left: 30px;
                                padding-right: 30px;">
                                <span>Choose file</span>
                                <input type="file">
                            </div>
                        </div>
                    </form>

                </div>
            </div>
            <!--Profile Pic-->

            <!--Introducing Yourself-->
            <div class="card">
                <div class="card-block">

                    <!--Header-->
                    <div class="text-center">
                        <h3> Introducing Yourself:</h3>
                        <hr class="mt-2 mb-2">
                    </div>


                    <br>

                    <!--Body-->
                    <div class="md-form">
                        <textarea type="text" id="introID" class="md-textarea" autocomplete="off">My name is Nuwan. I'm a social guy with a big smile and 3 passions:People, Travel and Social Media.January 2013 I decided to combine my passions and started a unique social travel project around the world.</textarea>
                        <label for="introID" class="">Something about you</label>
                    </div>


                    <div class="text-center">
                        <button class="btn btn-deep-orange waves-effect waves-light">Save</button>
                    </div>

                </div>
            </div>
            <!--Introducing Yourself-->

            <!--Why you Travel-->
            <div class="card">
                <div class="card-block">

                    <!--Header-->
                    <div class="text-center">
                        <h3> Why you Travel:</h3>
                        <hr class="mt-2 mb-2">
                    </div>


                    <br>

                    <!--Body-->
                    <div class="md-form">
                        <textarea type="text" id="yItravelID" class="md-textarea" autocomplete="off">To see new places, adventures, different cultures, local foods, music, habits ... meet new peoples and much more.</textarea>
                        <label for="yItravelID" class="">Reason for travelling</label>
                    </div>


                    <div class="text-center">
                        <button class="btn btn-deep-orange waves-effect waves-light">Save</button>
                    </div>

                </div>
            </div>
            <!--Why you Travel-->

            <!--Your Likes:-->
            <div class="card">
                <div class="card-block">

                    <!--Header-->
                    <div class="text-center">
                        <h3> Your Likes:</h3>
                        <hr class="mt-2 mb-2">
                    </div>


                    <br>

                    <!--Body-->
                    <div class="md-form">
                        <input type="text" id="likeID" class="form-control" value=" Hiking, Camping, Drafting">
                        <label for="likeID">What you like to do</label>
                    </div>


                    <div class="text-center">
                        <button class="btn btn-deep-orange waves-effect waves-light">Save</button>
                    </div>

                </div>
            </div>
            <!--Your Likes:-->

            <!--visited and visiting-->
            <div class="card">
                <div class="card-block">

                    <!--Header-->
                    <div class="text-center">
                        <h3> Visited and Visiting:</h3>
                        <hr class="mt-2 mb-2">
                    </div>


                    <br>

                    <!--Body-->
                    <div class="md-form">
                        <i class="fa fa-paper-plane prefix"></i>
                        <input type="text" id="visitedID" class="form-control" value="Nuwara Eliya, Ella, Polonnaruwa">
                        <label for="visitedID">Places, You have visited</label>
                    </div>

                    <div class="md-form">
                        <i class="fa fa-paper-plane-o prefix"></i>
                        <input type="text" id="visitingID" class="form-control" value="Ampara, Mathale">
                        <label for="visitingID">Places, You hope to visit</label>
                    </div>

                    <div class="text-center">
                        <button class="btn btn-deep-orange waves-effect waves-light">Save</button>
                    </div>

                </div>
            </div>
            <!--visited and visiting-->

      </div>
      <!--/.Panel 2-->

      <!--Panel 3 Friends-->
      <div class="tab-pane fade " id="panel53" role="tabpanel" aria-expanded="false" style="margin-top: -2rem; padding: 2rem;">
      <!--Content of Friends included from friends.html-->
        <div class = "row">
          <div class = "col-lg-6" >
            <h3>Friends</h3>
              <mdl-list *ngFor="let mutual of friends">
                <mdl-list-item>
                  <mdl-list-item-primary-content>
                    <mdl-icon mdl-list-item-avatar>person</mdl-icon>
                    <span>{{mutual.name}}</span>
                  </mdl-list-item-primary-content>
                  <button class="btn btn-success" (click)="FollowUser(mutual.id,mutual.follow)" >Follow</button>
                </mdl-list-item>

              </mdl-list>
          </div>

          <div class="col-lg-6">

            <h3>Places you have reacently tagged</h3>


          </div>

        </div>

    </div>


      <div class="tab-pane fade " id="panel54" role="tabpanel" aria-expanded="false" style="margin-top: -2rem; padding: 2rem;">
        <!--Content of Friends included from friends.html-->
        <div class = "row">

            <h3>Pages you Manage</h3>
          <mdl-card mdl-shadow="2" *ngFor="let page of pages">
            <mdl-card-title>
              <h2 mdl-card-title-text>{{page.pagename}}</h2>


            </mdl-card-title>
            <img class="img-responsive img-fluid" src="https://palacestation.sclv.com/~/media/Images/Page-Background-Images/Palace/Hotel/PS_Hotel_KingRoom_new.jpg?h=630&la=en&w=1080">
            <h5 class="red-text"><i class="fa fa-money"></i> {{page.businesstype}}</h5>
            <mdl-card-supporting-text>
              {{page.email}}
            </mdl-card-supporting-text>
            <mdl-card-actions mdl-card-border>
              <button mdl-button mdl-colored mdl-ripple>View Page</button>
            </mdl-card-actions>
            <mdl-card-menu>

            </mdl-card-menu>
          </mdl-card>



        </div>

      </div>

      <div class="tab-pane fade" id="panel55" role="tabpanel" aria-expanded="false">
        <h3><strong>Privacy settings</strong></h3>
        <hr>
        <h4><strong>Who can see my stuff ?</strong></h4>

        <fieldset class="form-group">
            <input name="group1" type="radio" id="radio1">
            <label for="radio1">Public</label>
        </fieldset>

        <fieldset class="form-group">
            <input name="group1" type="radio" id="radio2">
            <label for="radio2">Friend</label>
        </fieldset>

        <fieldset class="form-group">
            <input name="group1" type="radio" id="radio3">
            <label for="radio3">Only Me</label>
        </fieldset>

        <hr>

        <h4><strong>Who can see my persanal info ?</strong></h4>

        <fieldset class="form-group">
            <input name="group1" type="radio" id="radio1">
            <label for="radio1">Public</label>
        </fieldset>

        <fieldset class="form-group">
            <input name="group1" type="radio" id="radio2">
            <label for="radio2">Friend</label>
        </fieldset>

        <fieldset class="form-group">
            <input name="group1" type="radio" id="radio3">
            <label for="radio3">Only Me</label>
        </fieldset>

        <hr>

        <h4><strong>Who can contact me ?</strong></h4>

        <fieldset class="form-group">
            <input name="group1" type="radio" id="radio1">
            <label for="radio1">Public</label>
        </fieldset>

        <fieldset class="form-group">
            <input name="group1" type="radio" id="radio2">
            <label for="radio2">Friend</label>
        </fieldset>

        <fieldset class="form-group">
            <input name="group1" type="radio" id="radio3">
            <label for="radio3">Only Me</label>
        </fieldset>


      </div>


    </div>
<div>





</div>
  </div>
</main>
