.cardone{
  height: 65px;
}
.cardname{
  padding: 0px;
}
.tabpad{
  padding:0px 24px;
}
.padthis{
  padding-bottom: 10px
}
.pageshowpad{
  padding:0px 15px 0px 25px;
}
.blueco{
  background-color: #0d47a1;
}
