<br>
<h4><strong>Vission</strong></h4>

<p>Vission goes here</p>

<hr>
<h4><strong>Mission</strong></h4>

<p>Mission goes here</p>

<hr>
<h4><strong>About Resort</strong></h4>

<p>A resort that just one hour drive away from the Sri Lankan commercial capital Colombo, and located among lush rubber plantation and paddy fields. The calm and cool Pusseli Oya flowing by aside of resort’s garden with giving cool breeze for its visitors. The newly built four villas with all amenities are ideal for honeymooning couples or people who are love to spend their holidays in calm and peace. It'll be an unforgettable experience if you are playing in our tiny swimming pool that filled with crystal clear water in a sunny day. The resort is hosting all kind of functions with its 200 seated banquet hall and there is a conference hall with all facilities as well. For the people who are love to adventures we are offering outdoor camping site with a barbecue area.</p>

<hr>
<h4><strong>Swimming Pool</strong></h4>

<img src="pool.jpg" alt="pool" style="width:35%">
<br>
<p>Enjoy the warm tropical sun while lounging in our infinity pool, the pool in the ‘sky’ built on the summit of the hill. </p>

<hr>
<h4><strong>Accommodation </strong></h4>

<img src="A2.jpg" alt="Picture" style="width:35%">
<br>
<p>The rooms at Serene Bridge are an oasis of luxury allowing guests to enjoy a truly relaxing vacation. Depending upon the room type chosen, guests will have panoramic views of the surrounding forest area. </p>

<hr>
<h4><strong>Topic</strong></h4>

<img src="pic.jpg" alt="Picture" style="width:35%">

<p>Description goes here</p>
