<br>
<h4><strong>Breakfast</strong></h4>

<!--Breakfast table-->
<div class="table-responsive">
    <table class="table product-table">
        <!--Table head-->
        <thead>
            <tr>
                <th></th>
                <th></th>
                <th>Name</th>
                <th>Size</th>
                <th>Price</th>
            </tr>
        </thead>
        <!--/Table head-->

        <!--Table body-->
        <tbody>

            <!--First row-->
            <tr>
                <th>1</th>
                <th scope="row">
                    <img src="StringHoppers.jpg" alt="" class="img-fluid">
                </th>
                <td>
                    <h5><strong>String Hoppers</strong></h5>
                </td>
                <td>1 Person</td>
                <td>Rs.200</td>
            </tr>
            <!--/First row-->

            <!--Second row-->
            <tr>
                <th>2</th>
                <th scope="row">
                    <img src="BreadCurry.jpg" alt="" class="img-fluid">
                </th>
                <td>
                    <h5><strong>Bread & Curry</strong></h5>
                </td>
                <td>1 Person</td>
                <td>Rs.150</td>
            </tr>
            <!--/Second row-->

        </tbody>
        <!--/Table body-->
    </table>
</div>
<!--/Breakfast table-->

<hr>
<h4><strong>Lunch</strong></h4>

<!--Lunch table-->
<div class="table-responsive">
    <table class="table product-table">
        <!--Table head-->
        <thead>
            <tr>
                <th></th>
                <th></th>
                <th>Name</th>
                <th>Size</th>
                <th>Price</th>
            </tr>
        </thead>
        <!--/Table head-->

        <!--Table body-->
        <tbody>

            <!--First row-->
            <tr>
                <th>1</th>
                <th scope="row">
                    <img src="StringHoppers.jpg" alt="" class="img-fluid">
                </th>
                <td>
                    <h5><strong>String Hoppers</strong></h5>
                </td>
                <td>1 Person</td>
                <td>Rs.200</td>
            </tr>
            <!--/First row-->

            <!--Second row-->
            <tr>
                <th>2</th>
                <th scope="row">
                    <img src="BreadCurry.jpg" alt="" class="img-fluid">
                </th>
                <td>
                    <h5><strong>Bread & Curry</strong></h5>
                </td>
                <td>1 Person</td>
                <td>Rs.150</td>
            </tr>
            <!--/Second row-->

        </tbody>
        <!--/Table body-->
    </table>
</div>
<!--/Lunch table-->

<hr>
<h4><strong>Dinner</strong></h4>

<!--Dinner table-->
<div class="table-responsive">
    <table class="table product-table">
        <!--Table head-->
        <thead>
            <tr>
                <th></th>
                <th></th>
                <th>Name</th>
                <th>Size</th>
                <th>Price</th>
            </tr>
        </thead>
        <!--/Table head-->

        <!--Table body-->
        <tbody>

            <!--First row-->
            <tr>
                <th>1</th>
                <th scope="row">
                    <img src="StringHoppers.jpg" alt="" class="img-fluid">
                </th>
                <td>
                    <h5><strong>String Hoppers</strong></h5>
                </td>
                <td>1 Person</td>
                <td>Rs.200</td>
            </tr>
            <!--/First row-->

            <!--Second row-->
            <tr>
                <th>2</th>
                <th scope="row">
                    <img src="BreadCurry.jpg" alt="" class="img-fluid">
                </th>
                <td>
                    <h5><strong>Bread & Curry</strong></h5>
                </td>
                <td>1 Person</td>
                <td>Rs.150</td>
            </tr>
            <!--/Second row-->

        </tbody>
        <!--/Table body-->
    </table>
</div>
<!--/Dinner table-->