<br>
<h4><strong>Other Services</strong></h4>

<!--Other Services table-->
<div class="table-responsive">
    <table class="table product-table">
        <!--Table head-->
        <thead>
            <tr>
                <th></th>
                <th>Service Name</th>
                <th>Description</th>
                <th>Price</th>
            </tr>
        </thead>
        <!--/Table head-->

        <!--Table body-->
        <tbody>

            <!--First row-->
            <tr>
                <th scope="row">
                    <img src="bikeRiding.jpg" alt="" class="img-fluid">
                </th>
                <td>
                    <h5><strong>name of the service</strong></h5>
                </td>
                <td>Description of the Service goes here</td>
                <td>Rs.xxxx</td>
            </tr>
            <!--/First row-->

        </tbody>
        <!--/Table body-->
    </table>
</div>
<!--/Other Services table-->
