
<h4><strong>Room Details</strong></h4>


<!--Room table-->
<div class="table-responsive">
    <table class="table product-table">
        <!--Table head-->
        <thead>
            <tr>
                <th>Type</th>
                <th></th>
                <th>Room</th>
                <th>Size</th>
                <th>Features</th>
                
                <th>Price</th>
            </tr>
        </thead>
        <!--/Table head-->

        <!--Table body-->
        <tbody>

            <!--First row-->
            <tr>
                <th>A1</th>
                <th scope="row">
                    <img src="A1.jpg" alt="" class="img-fluid">
                </th>
                <td>
                    <h5><strong>Standard Double</strong></h5>
                    <p class="text-muted">Full Board</p>
                </td>
                <td>2 Person</td>
                <td>
                    <table><tbody>
                        <tr>
                            <td>A/C</td>
                            <td><i class="fa fa-check" aria-hidden="true"></i></td>
                        </tr>
                        <tr>
                            <td>Attached Bathroom</td>
                            <td><i class="fa fa-check" aria-hidden="true"></i></td>
                        </tr>
                        <tr>
                            <td>Hot Water</td>
                            <td><i class="fa fa-check" aria-hidden="true"></i></td>
                        </tr>
                    </tbody></table>

                </td>
                <td>Rs.5000</td>
            </tr>
            <!--/First row-->

            <!--Second row-->
            <tr>
                <td>A2</td>
                <th scope="row">
                    <img src="A2.jpg" alt="" class="img-fluid">
                </th>
                <td>
                    <h5><strong>Private Cottages</strong></h5>
                    <p class="text-muted">Full Board</p>
                </td>
                <td>2 Person</td>
                <td>
                    <table><tbody>
                        <tr>
                            <td>Attached Bathroom</td>
                            <td><i class="fa fa-check" aria-hidden="true"></i></td>
                        </tr>
                        <tr>
                            <td>Hot Water</td>
                            <td><i class="fa fa-check" aria-hidden="true"></i></td>
                        </tr>
                    </tbody></table>

                </td>
                <td>Rs.6000</td>
            </tr>
            <!--/Second row-->

        </tbody>
        <!--/Table body-->
    </table>
</div>
<!--/Room table-->


<hr>

<style>
    .icons-sm{
        white-space: nowrap;
    }
</style>