<form class="form-horizontal" (submit)="loginSubmit()">
  <fieldset>
    <legend>Login</legend>


    <div class="form-group">
      <label  class="col-lg-2 control-label">Email</label>
      <div class="col-lg-10">
        <input type="text" [(ngModel)]="email" name="email" class="form-control" >
      </div>
    </div>


    <div class="form-group">
      <label  class="col-lg-2 control-label">password</label>
      <div class="col-lg-10">
        <input type="text" class="form-control" [(ngModel)]="password" name="password" >
      </div>
    </div>

    <div class="form-group">
      <div class="col-lg-10 col-lg-offset-2">
        <button type="reset" class="btn btn-default">Cancel</button>
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </fieldset>
</form>
