<div class="card">
  <!--Card image-->


  <!--/Social buttons-->
  <!--Card content-->
  <div class="card-block">
    <!--Title-->
    <h4 class="card-title">Search Results</h4>
    <div id="custom-search-input">
      <div class="input-group col-md-12">
        <input style="  background-color:whitesmoke!important;" type="search" class="  search-query form-control" placeholder="Type :Place/Blog/Person/item anything" (keyup)="searchData($event)" />
        <span class="input-group-btn">
        <button class="btn" type="button" data-toggle="modal" data-target="#myModal">
          <i class="fa fa-search" ></i>
        </button>
      </span>
      </div>
    </div>
    <hr>
    <!--Text-->
    <div class="card-text"><!-- Nav tabs -->
      <div class="row">
        <div class="col-md-3">
          <ul class="nav nav-tabs md-pills pills-primary flex-column" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" href="#panel21" role="tab" id="profile" (click)="getSection($event)" ><i class="fa fa-user"></i> Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#panel22" role="tab" id="blogs" (click)="getSection($event)"><i class="fa fa-book"></i> Blogs</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#panel23" role="tab" id="places" (click)="getSection($event)"><i class="fa fa-map-marker"></i> Places</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#panel23" role="tab" id="more" (click)="getSection($event)"><i class="fa fa-chevron-circle-down"></i> More</a>
            </li>
          </ul>
        </div>
        <div class="col-md-7">
          <!-- Tab panels -->
          <div class="tab-content vertical">
            <!--Panel 1-->
            <div class="tab-pane fade in show active" id="panel21" role="tabpanel">
              <br>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil odit magnam minima, soluta doloribus reiciendis molestiae placeat unde eos molestias. Quisquam aperiam, pariatur. Tempora, placeat ratione porro voluptate odit minima.</p>
  </div>
  <!--/.Panel 1-->
  <!--Panel 2-->
  <div class="tab-pane fade" id="panel22" role="tabpanel">
    <br>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil odit magnam minima, soluta doloribus reiciendis molestiae placeat unde eos molestias. Quisquam aperiam, pariatur. Tempora, placeat ratione porro voluptate odit minima.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil odit magnam minima, soluta doloribus reiciendis molestiae placeat unde eos molestias. Quisquam aperiam, pariatur. Tempora, placeat ratione porro voluptate odit minima.</p>
  </div>
  <!--/.Panel 2-->
  <!--Panel 3-->
  <div class="tab-pane fade" id="panel23" role="tabpanel">
    <br>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil odit magnam minima, soluta doloribus reiciendis molestiae placeat unde eos molestias. Quisquam aperiam, pariatur. Tempora, placeat ratione porro voluptate odit minima.</p>
  </div>
  <!--/.Panel 3-->
</div>
</div>
</div></div>
    <div class="text-center">
      <a class="btn btn-primary waves-effect waves-light">Read more</a>
    </div>
  </div>
  <!--/.Card content-->
</div>
