<div class="card">
  <!--Card image-->
  <div class="view overlay hm-white-slight">
    <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20%2867%29.jpg" class="img-fluid" alt="">
    <a>
      <div class="mask waves-effect waves-light"></div>
    </a>
  </div>
  <!--/.Card image-->
  <!--Social buttons-->
  <div class="card-share">
    <div class="social-reveal">
      <!--Facebook-->
      <a type="button" class="btn-floating btn-fb waves-effect waves-light"><i class="fa fa-facebook"></i></a>
      <!--Twitter-->
      <a type="button" class="btn-floating btn-tw waves-effect waves-light"><i class="fa fa-twitter"></i></a>
      <!--Google -->
      <a type="button" class="btn-floating btn-gplus waves-effect waves-light"><i class="fa fa-google-plus"></i></a>
    </div>
    <a class="btn-floating btn-action share-toggle primary-color-dark float-right waves-effect waves-light"><i class="fa fa-share-alt"></i></a>
  </div>
  <!--/Social buttons-->
  <!--Card content-->
  <div class="card-block">
    <!--Title-->
    <h4 class="card-title">Card title</h4>
    <hr>
    <!--Text-->
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <div class="text-center">
      <a class="btn btn-primary waves-effect waves-light">Read more</a>
    </div>
  </div>
  <!--/.Card content-->
</div>
