

<nav class="navbar navbar-dark navbar-fixed-top scrolling-navbar">

  <!-- Collapse button-->
  <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#collapseEx">
    <i class="fa fa-bars"></i>
  </button>

  <div class="container">

    <!--Collapse content-->
    <div class="collapse navbar-toggleable-xs" id="collapseEx">
      <!--Navbar Brand-->
      <a class="navbar-brand" href="http://mdbootstrap.com/material-design-for-bootstrap/" target="_blank">TWM</a>
      <!--Links-->
      <ul class="nav navbar-nav">
        <li class="nav-item active">
          <a class="nav-link waves-effect waves-light" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-effect waves-light" href="#register">Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-effect waves-light" href="#">Pricing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-effect waves-light" href="#">About</a>
        </li>
      </ul>
      <ul class="nav navbar-nav pull-right">
        <li class="nav-item">
          <a  class="center btn btn-raised btn-danger btn-round" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" *ngIf="!auth.authenticated()" (click)="auth.login()">Login</a>

        </li>
      </ul>
      <!--Search form-->
      <form  id="homesearch">
        <mdl-textfield type="text" class="waves-effect waves-light" icon="search"></mdl-textfield>
      </form>

      <form class="form-inline" id="loginform" style = "display:none">
        <input class="form-control animated slideInRight" type="text" placeholder="User Name">
        <input class="form-control animated slideInRight" type="text" placeholder="Password">
      </form>


    </div>
    <!--/.Collapse content-->

  </div>

</nav>


<div id="carousel-example-1" class="carousel slide carousel-fade" data-ride="carousel" data-interval="false">
  <!--Indicators-->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-1" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-1" data-slide-to="1"></li>
    <li data-target="#carousel-example-1" data-slide-to="2"></li>
  </ol>
  <!--/.Indicators-->

  <!--Slides-->
  <div class="carousel-inner" role="listbox">

    <!--First slide-->
    <div class="carousel-item active">
      <!--Mask-->
      <div class="view hm-black-light">
        <div class="full-bg-img flex-center">
          <ul class="animated fadeInUp col-md-12">
            <li>
              <h1 class="h1-responsive flex-item">Join with us free and make your Travel Easy</h1>
            <li>
              <p class="flex-item">Anything , Anywhere , Anytime</p>
            </li>
            <li>
              <a target="_blank" href="#register" class="btn btn-primary btn-lg flex-item">Create Your Blog Free</a>
            </li>
            <li>
              <a target="_blank" href="#register" class="btn btn-default btn-lg flex-item">Advertice Yourself</a>
            </li>
          </ul>
        </div>
      </div>
      <!--/.Mask-->
    </div>
    <!--/.First slide-->

    <!--Second slide -->
    <div class="carousel-item">
      <!--Mask-->
      <div class="view hm-black-light">
        <div class="full-bg-img flex-center">
          <ul class="animated fadeInUp col-md-12">
            <li>
              <h1 class="h1-responsive">Create Free Blog</h1>
            </li>
            <li>
              <p>And all of them are FREE!</p>
            </li>
            <li>
              <a target="_blank" href="http://mdbootstrap.com/bootstrap-tutorial/" class="btn btn-primary btn-lg">Start Now</a>
            </li>
          </ul>
        </div>
      </div>
      <!--/.Mask-->
    </div>
    <!--/.Second slide -->

    <!--Third slide-->
    <div class="carousel-item">
      <!--Mask-->
      <div class="view hm-black-light">
        <div class="full-bg-img flex-center">
          <ul class="animated fadeInUp col-md-12">
            <li>
              <h1 class="h1-responsive">Post Your Adverticement</h1></li>
            <li>
              <p>Our community can help you with any question</p>
            </li>
            <li>
              <a target="_blank" href="http://mdbootstrap.com/forums/forum/support/" class="btn btn-default btn-lg">Post Now</a>
            </li>
          </ul>
        </div>
      </div>
      <!--/.Mask-->
    </div>
    <!--/.Third slide-->
  </div>
  <!--/.Slides-->

  <!--Controls-->
  <a class="left carousel-control" href="#carousel-example-1" role="button" data-slide="prev">
    <span class="icon-prev" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-1" role="button" data-slide="next">
    <span class="icon-next" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
  <!--/.Controls-->
</div>

<section class="section" id="register" >

  <div class="container-fluid viewone full-bg-imgs">
    <!--First row-->

    <div class="row">
      <div class="col-lg-6">
        <div class="description">
          <h2 class="h2-responsive wow fadeInLeft">Sign up right now! </h2>
          <hr class="hr-dark wow fadeInLeft">
          <p class="wow fadeInLeft" data-wow-delay="0.4s">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem repellendus quasi fuga nesciunt dolorum nulla magnam veniam sapiente, fugiat! Commodi sequi non animi ea dolor molestiae, quisquam iste, maiores. Nulla.</p>
          <br>
          <a class="btn btn-comm btn-lg wow fadeInLeft waves-effect waves-dark" data-wow-delay="0.7s">Learn more</a>
        </div>
      </div>
      <!--First column-->
      <div class="col-lg-6 wow fadeInDown" data-wow-delay="0.2s">
        <!--Form-->

        <!--/.Form-->
      </div>
      <!--/First column-->

      <!--Second column-->



      <!--/Third column-->
    </div>
  </div>
  <!--/First row-->
</section>


<!--
<footer class="page-footer center-on-small-only">

  &lt;!&ndash;Footer Links&ndash;&gt;
  <div class="container-fluid">
    <div class="row">

      &lt;!&ndash;First column&ndash;&gt;
      <div class="col-md-3 offset-md-1">
        <h5 class="title">ABOUT MATERIAL DESIGN</h5>
        <p>Material Design (codenamed Quantum Paper) is a design language developed by Google. </p>

        <p>Material Design for Bootstrap (MDB) is a powerful Material Design UI KIT for most popular HTML, CSS, and JS framework - Bootstrap.</p>
      </div>
      &lt;!&ndash;/.First column&ndash;&gt;

      <hr class="hidden-md-up">

      &lt;!&ndash;Second column&ndash;&gt;
      <div class="col-md-2 offset-md-1">
        <h5 class="title">First column</h5>
        <ul>
          <li><a href="#!">Link 1</a></li>
          <li><a href="#!">Link 2</a></li>
          <li><a href="#!">Link 3</a></li>
          <li><a href="#!">Link 4</a></li>
        </ul>
      </div>
      &lt;!&ndash;/.Second column&ndash;&gt;

      <hr class="hidden-md-up">

      &lt;!&ndash;Third column&ndash;&gt;
      <div class="col-md-2">
        <h5 class="title">Second column</h5>
        <ul>
          <li><a href="#!">Link 1</a></li>
          <li><a href="#!">Link 2</a></li>
          <li><a href="#!">Link 3</a></li>
          <li><a href="#!">Link 4</a></li>
        </ul>
      </div>
      &lt;!&ndash;/.Third column&ndash;&gt;

      <hr class="hidden-md-up">

      &lt;!&ndash;Fourth column&ndash;&gt;
      <div class="col-md-2">
        <h5 class="title">Third column</h5>
        <ul>
          <li><a href="#!">Link 1</a></li>
          <li><a href="#!">Link 2</a></li>
          <li><a href="#!">Link 3</a></li>
          <li><a href="#!">Link 4</a></li>
        </ul>
      </div>
      &lt;!&ndash;/.Fourth column&ndash;&gt;

    </div>
  </div>
  &lt;!&ndash;/.Footer Links&ndash;&gt;

  <hr>

  &lt;!&ndash;Call to action&ndash;&gt;
  <div class="call-to-action">
    <h4>Material Design for Bootstrap</h4>
    <ul>
      <li>
        <h5>Get our UI KIT for free</h5></li>
      <li><a target="_blank" href="http://mdbootstrap.com/getting-started/" class="btn btn-danger">Sign up!</a></li>
      <li><a target="_blank" href="http://mdbootstrap.com/material-design-for-bootstrap/" class="btn btn-default waves-effect waves-button">Learn more</a></li>
    </ul>
  </div>
  &lt;!&ndash;/.Call to action&ndash;&gt;

  &lt;!&ndash;Copyright&ndash;&gt;
  <div class="footer-copyright">
    <div class="container-fluid">
      © 2015 Copyright: <a href="http://www.MDBootstrap.com"> MDBootstrap.com </a>

    </div>
  </div>
  &lt;!&ndash;/.Copyright&ndash;&gt;

</footer>
-->
