<br>
<h4><strong>Tent</strong></h4>

<!--Tent table-->
<div class="table-responsive">
    <table class="table product-table">
        <!--Table head-->
        <thead>
            <tr>
                <th></th>
                <th></th>
                <th>Name</th>
                <th>Size</th>
                <th>Price</th>
            </tr>
        </thead>
        <!--/Table head-->

        <!--Table body-->
        <tbody>

            <!--First row-->
            <tr>
                <th>1</th>
                <th scope="row">
                    <img src="assets/img/tentSmall.jpg" alt="" class="img-fluid">
                </th>
                <td>
                    <h5><strong>Tent Small</strong></h5>
                </td>
                <td>4 Person</td>
                <td>Rs.500<br>(per Day)</td>
            </tr>
            <!--/First row-->

            <!--Second row-->
            <tr>
                <th>2</th>
                <th scope="row">
                    <img src="assets/img/tentLarge.jpg" alt="" class="img-fluid">
                </th>
                <td>
                    <h5><strong>Tent Large</strong></h5>
                </td>
                <td>8 Person</td>
                <td>Rs.800<br>(per Day)</td>
            </tr>
            <!--/Second row-->

        </tbody>
        <!--/Table body-->
    </table>
</div>
<!--/Tent table-->

<hr>
<h4><strong>Bicycles</strong></h4>

<!--Bicycles table-->
<div class="table-responsive">
    <table class="table product-table">
        <!--Table head-->
        <thead>
            <tr>
                <th></th>
                <th></th>
                <th>Name</th>
                <th>Size</th>
                <th>Price</th>
            </tr>
        </thead>
        <!--/Table head-->

        <!--Table body-->
        <tbody>

            <!--First row-->
            <tr>
                <th>1</th>
                <th scope="row">
                    <img src="assets/img/bikeNormal.jpg" alt="" class="img-fluid">
                </th>
                <td>
                    <h5><strong>Normal Bicycle</strong></h5>
                </td>
                <td>1 Person</td>
                <td>Rs.500<br>(per Day)</td>
            </tr>
            <!--/First row-->

            <!--Second row-->
            <tr>
                <th>2</th>
                <th scope="row">
                    <img src="assets/img/bikeDouble.jpg" alt="" class="img-fluid">
                </th>
                <td>
                    <h5><strong>Double Bicycle</strong></h5>
                </td>
                <td>2 Person</td>
                <td>Rs.800<br>(per Day)</td>
            </tr>
            <!--/Second row-->

            <!--Third row-->
            <tr>
                <th>2</th>
                <th scope="row">
                    <img src="assets/img/bikeKids.jpg" alt="" class="img-fluid">
                </th>
                <td>
                    <h5><strong>Kids Bicycle</strong></h5>
                </td>
                <td>1 Person</td>
                <td>Rs.400<br>(per Day)</td>
            </tr>
            <!--/Third row-->

        </tbody>
        <!--/Table body-->
    </table>
</div>
<!--/Bicycles table-->

<hr>
<h4><strong>Vehicles</strong></h4>

<!--Vehicles table-->
<div class="table-responsive">
    <table class="table product-table">
        <!--Table head-->
        <thead>
            <tr>
                <th></th>
                <th></th>
                <th>Name</th>
                <th>Size</th>
                <th>Price</th>
            </tr>
        </thead>
        <!--/Table head-->

        <!--Table body-->
        <tbody>

            <!--First row-->
            <tr>
                <th>1</th>
                <th scope="row">
                    <img src="assets/img/jeep.jpg" alt="" class="img-fluid">
                </th>
                <td>
                    <h5><strong>Jeep</strong></h5>
                </td>
                <td>8 Person</td>
                <td>Rs.8000<br>(per Day)</td>
            </tr>
            <!--/First row-->

            <!--Second row-->
            <tr>
                <th>2</th>
                <th scope="row">
                    <img src="assets/img/maxximoTruck.jpg" alt="" class="img-fluid">
                </th>
                <td>
                    <h5><strong>Maxximo Truck</strong></h5>
                </td>
                <td>6 Person</td>
                <td>Rs.6000<br>(per Day)</td>
            </tr>
            <!--/Second row-->

        </tbody>
        <!--/Table body-->
    </table>
</div>
<!--/Vehicles table-->