<!-- Sidebar navigation -->
<script>
  // SideNav init
  $(".button-collapse").sideNav();
  var el = document.querySelector('.custom-scrollbar');
  Ps.initialize(el);
</script>

<script>
  new WOW().init();
</script>
<ul id="slide-out" class="side-nav fixed custom-scrollbar">

  <!-- Logo -->
  <li>
    <div class="logo-wrapper waves-light sn-avatar-wrapper">
      <a href="#">
        <img src="http://mdbootstrap.com/images/avatars/img%20(8)" class="rounded-circle">
      </a>
    </div>
  </li>
  <!--/. Logo -->

  <!--About-->
  <li>
    <div class="about">
      <p>Rajith Thennakoon</p>
    </div>
  </li>
  <!--/.About-->

  <!--Social-->
 <!--<li>-->
    <!--<ul class="social">-->
      <!--<li><a href="https://twitter.com/MDBootstrap" target="_blank" class="icons-sm tw-ic"><i class="fa fa-twitter"> </i></a></li>-->
      <!--<li><a href="https://www.facebook.com/mdbootstrap" target="_blank" class="icons-sm fb-ic"><i class="fa fa-facebook"> </i></a></li>-->
      <!--<li><a href="https://dribbble.com/mdbootstrap" target="_blank" class="icons-sm drib-ic"><i class="fa fa-dribbble"> </i></a></li>-->
      <!--<li><a href="https://www.linkedin.com/in/michal-szymanski-9228918a" target="_blank" class="icons-sm li-ic"><i class="fa fa-linkedin"> </i></a></li>-->
      <!--<li><a href="https://www.instagram.com/material_design_for_bootstrap/" target="_blank" class="icons-sm ins-ic"><i class="fa fa-instagram"> </i></a></li>-->
    <!--</ul>-->
  <!--</li>-->
  <!--/Social-->


  <!-- Side navigation links -->
  <li>
    <ul class="collapsible collapsible-accordion">
      <li><a class="collapsible-header waves-effect arrow-r"><i class="fa fa-bus"></i> Travels<i class="fa fa-angle-down rotate-icon"></i></a>
        <div class="collapsible-body">
          <ul>
            <li><a href="#" class="waves-effect">It's all about passion</a>
            </li>

          </ul>
        </div>
      </li>

      <li><a class="collapsible-header waves-effect arrow-r"><i class="fa fa-forward"></i> Places<i class="fa fa-angle-down rotate-icon"></i></a>
        <div class="collapsible-body">
          <ul>
            <li><a href="#" class="waves-effect">Find Places</a>
            </li>
            <li><a href="#" class="waves-effect">Editing tutorials</a>
            </li>
          </ul>
        </div>
      </li>
      <li><a class="collapsible-header waves-effect arrow-r"><i class="fa fa-bold"></i> Blogs<i class="fa fa-angle-down rotate-icon"></i></a>
        <div class="collapsible-body">
          <ul>
            <li><a href="#" class="waves-effect">How to protect?</a>
            </li>
            <li><a href="#" class="waves-effect">'Plant a tree' action</a>
            </li>
          </ul>
        </div>
      </li>


      <li><a class="collapsible-header waves-effect arrow-r"><i class="fa fa-briefcase"></i> Business <i class="fa fa-angle-down rotate-icon"></i></a>
        <div class="collapsible-body">
          <ul>
            <li><a href="#" class="waves-effect">FAQ</a>
            </li>
            <li><a href="#" class="waves-effect">Write a message</a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </li>
  <!--/. Side navigation links -->

</ul>
<!--/. Sidebar navigation -->
