
<h4><strong>Personal Info</strong></h4>

<p><strong>Name</strong>: Nuwan Tharaka Manchnayaka</p>
<p><strong>Country</strong>: Sri Lanka</p>
<p><strong>City</strong>: Colombo</p>
<p><strong>Age</strong>: 23</p>

<hr>
<h4><strong>Introducing Myself</strong></h4>

<p>My name is Nuwan. I'm a social guy with a big smile and 3 passions:People, Travel and Social Media.
    January 2013 I decided to combine my passions and started a unique social travel project around the world.</p>

<hr>
<h4><strong>Why I Travel</strong></h4>

<p>To see new places, adventures, different cultures, local foods, music, habits ... meet new peoples and much more.</p>

<hr>
<h4><strong>I like to Do</strong></h4>

<p><i class="fa fa-circle" aria-hidden="true" mb-1 deep-purple-text></i> Hiking</p>
<p><i class="fa fa-circle" aria-hidden="true" mb-1 deep-purple-text></i> Camping</p>
<p><i class="fa fa-circle" aria-hidden="true" mb-1 deep-purple-text></i> Drafting</p>

<hr>
<h4><strong>Social Media Links</strong></h4>

<a href="https://www.facebook.com/nuwantharaka.manchanayaka" target="_blank" class="icons-sm fb-ic"><i class="fa fa-facebook"></i> </a>
<a class="icons-sm tw-ic"><i class="fa fa-twitter"></i> </a>
<a class="icons-sm gplus-ic"><i class="fa fa-google-plus"></i> </a>
<a class="icons-sm ins-ic"><i class="fa fa-instagram"> </i> </a>
<a class="icons-sm pin-ic"><i class="fa fa-pinterest"> </i> </a>
<a class="icons-sm yt-ic"><i class="fa fa-youtube"> </i> </a>
<a class="icons-sm email-ic"><i class="fa fa-envelope-o"> </i> </a>


<style>
    .icons-sm{
        white-space: nowrap;
    }
</style>