<!-- Nav tabs -->
<div class="tabs-wrapper">
    <ul class="nav classic-tabs white" role="tablist">
        <li class="nav-item">
            <a class="deep-purple-text nav-link waves-light waves-effect waves-light active" data-toggle="tab" href="#panelALL" role="tab" aria-expanded="true">All Friends</a>
        </li>
        <li class="nav-item">
            <a class="deep-purple-text nav-link waves-light waves-effect waves-light" data-toggle="tab" href="#panelMUTUAL" role="tab" aria-expanded="false">Mutual Friends</a>
        </li>
        <form class="form-inline waves-effect waves-light float-right">
            <input class="deep-purple-text form-control nav-item float-right" type="text" placeholder="Search Friends">
        </form>
    </ul>
</div>
<!-- Nav tabs -->

<!-- Tab panels -->
<div class="tab-content card_">

    <!--Panel 1-->
    <div class="tab-pane fade in active show" id="panelALL" role="tabpanel" aria-expanded="true">
        <!--All Friend table-->
        <div class="table-responsive">
            <table class="table uct-table">
                <!--Table head-->
                <thead>
                <tr>
                    <th colspan="3">All Friends</th>
                </tr>
                </thead>
                <!--/Table head-->

                <!--Table body-->
                <tbody>

                <!--First row-->
                <tr>
                    <th scope="row">
                        <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(15).jpg" class="rounded`" style="width:110px;height:110px;">
                    </th>
                    <td>
                        <h5><strong><a href="#" class="nameLink" >Jane Don</a></strong></h5>
                        <p class="text-muted tooltipMY">32 mutual
                            <span class="tooltiptext">
                                    Nuwan&nbspTharaka<br>
                                    Rajitha <br>
                                    Madura <br>
                                    more... <br>
                                </span>
                        </p>
                    </td>
                    <td>
                        <button type="button" class="btn btn-sm btn-primary waves-effect waves-light deep-purple accent-4" data-toggle="tooltip" data-placement="top" title="" data-original-title="Remove item">Unfollow
                        </button>
                    </td>
                </tr>
                <!--/First row-->

                <!--Second row-->
                <tr>
                    <th scope="row" >
                        <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(18).jpg" class="rounded`" style="width:110px;height:110px;">
                    </th>
                    <td>
                        <a><strong><a href="#" class="nameLink" >Kane Lee</a></strong></h5>
                            <p class="text-muted">21 mutual</p>
                    </td>
                    <td>
                        <button type="button" class="btn btn-sm btn-primary waves-effect waves-light deep-purple accent-4" data-toggle="tooltip" data-placement="top" title="" data-original-title="Remove item">Unfollow
                        </button>
                    </td>

                </tr>
                <!--/Second row-->
                <!--Third row-->
                <tr>
                    <th scope="row">
                        <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(11).jpg" class="rounded`" style="width:110px;height:110px;">
                    </th>
                    <td>
                        <h5><strong><a href="#" class="nameLink" >Elee Tie</a></strong></h5>
                        <p class="text-muted">12 mutual</p>
                    </td>
                    <td>
                        <button type="button" class="btn btn-sm btn-primary waves-effect waves-light deep-purple accent-4" data-toggle="tooltip" data-placement="top" title="" data-original-title="Remove item">Follow
                        </button>
                    </td>
                </tr>
                <!--/Third row-->

                </tbody>
                <!--/Table body-->
            </table>
        </div>
        <!--/All Friend table-->
    </div>
    <!--/.Panel 1-->

    <!--Panel 2-->
    <div class="tab-pane fade" id="panelMUTUAL" role="tabpanel" aria-expanded="false">
        <!--Mutual Friend table-->
        <div class="table-responsive">
            <table class="table uct-table">
                <!--Table head-->
                <thead>
                <tr>
                    <th colspan="3">Mutual Friends</th>
                </tr>
                </thead>
                <!--/Table head-->

                <!--Table body-->
                <tbody>

                <!--First row-->
                <tr>
                    <th scope="row">
                        <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(15).jpg" class="rounded`" style="width:110px;height:110px;">
                    </th>
                    <td>
                        <h5><strong><a href="#" class="nameLink" >Jane Don</a></strong></h5>
                        <p class="text-muted tooltipMY">32 mutual
                            <span class="tooltiptext">
                                    Nuwan&nbspTharaka<br>
                                    Rajitha <br>
                                    Madura <br>
                                    more... <br>
                                </span>
                        </p>
                    </td>
                    <td>
                        <button type="button" class="btn btn-sm btn-primary waves-effect waves-light deep-purple accent-4" data-toggle="tooltip" data-placement="top" title="" data-original-title="Remove item">Unfollow
                        </button>
                    </td>
                </tr>
                <!--/First row-->

                <!--Second row-->
                <tr>
                    <th scope="row" >
                        <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(18).jpg" class="rounded`" style="width:110px;height:110px;">
                    </th>
                    <td>
                        <a><strong><a href="#" class="nameLink" >Kane Lee</a></strong></h5>
                            <p class="text-muted">21 mutual</p>
                    </td>
                    <td>
                        <button type="button" class="btn btn-sm btn-primary waves-effect waves-light deep-purple accent-4" data-toggle="tooltip" data-placement="top" title="" data-original-title="Remove item">Unfollow
                        </button>
                    </td>

                </tr>
                <!--/Second row-->

                </tbody>
                <!--/Table body-->
            </table>
        </div>
        <!--/Mutual Friend table-->

    </div>
    <!--/.Panel 2-->


</div>
<!-- Tab panels -->

<style>
    a.nameLink:hover {font-weight: bold; }
    a.nameLink:active {  color: rgba(0, 0, 0, 0.51);}
    a.nameLink { margin-left: 0; text-decoration: underline;}

</style>

<style>
    .tooltipMY {
        position: relative;
    }

    .tooltipMY .tooltiptext {
        visibility: hidden;
        /*width: 120px;*/
        background-color: black;
        color: #fff;
        text-align: ;
        border-radius: 6px;
        padding: 5px 5px 5px 5px;
        position: absolute;
        z-index: 4;
        top: 150%;
        left: 50%;
        margin-left: -100px;
        font-size:small;
    }

    .tooltipMY .tooltiptext::after {
        content: "";
        position: absolute;
        bottom: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: transparent transparent black transparent;
    }

    .tooltipMY:hover .tooltiptext {
        visibility: visible;
    }
</style>