<div class="row">
    <div class="col-lg-8">
        <div class="row">
            <!--Places, visited-->
            <div class="col-md-6 mb-r wow fadeIn" data-wow-delay="0.4s" style="visibility: visible; animation-name: fadeIn; animation-delay: 0.4s;">
            <!--Pricing card-->
            <div class="card pricing-card">
                <!--Price-->
                <div class="price header deep-purple accent-4">
                    <div class="version">
                        <h5>Places, I have visited</h5>
                    </div>
                </div>
                <!--/.Price-->

                <!--Features-->
                <div class="card-block stripe">
                    <ul >
                        <li>
                            <p></i> Nuwara Eliya</p>
                        </li>
                        <li>
                            <p></i> Ella </p>
                        </li>
                        <li>
                            <p></i> Polonnaruwa</p>
                        </li>
                    </ul>
                </div>
                <!--/.Features-->

            </div>
            <!--/.Pricing card-->
            </div>
            <!--Places, visited-->

            <!--Places, hope to visit-->
            <div class="col-md-6 mb-r wow fadeIn" data-wow-delay="0.4s" style="visibility: visible; animation-name: fadeIn; animation-delay: 0.4s;">
                <!--Pricing card-->
                <div class="card pricing-card">
                    <!--Price-->
                    <div class="price header deep-purple accent-4">
                        <div class="version">
                            <h5>Places, I hope to visit</h5>
                        </div>
                    </div>
                    <!--/.Price-->

                    <!--Features-->
                    <div class="card-block stripe">
                        <ul >
                            <li>
                                <p></i> Ampara</p>
                            </li>
                            <li>
                                <p></i> Mathale </p>
                            </li>
                        </ul>
                    </div>
                    <!--/.Features-->

                </div>
                <!--/.Pricing card-->
            </div>
            <!--Places, hope to visit-->

        </div>
        <!--Reacently liked pages-->
        <div class="table-responsive">
            <table class="table uct-table">
                <!--Table head-->
                <thead>
                <tr>
                    <th colspan="3">Recently liked pages</th>
                </tr>
                </thead>
                <!--/Table head-->

                <!--Table body-->
                <tbody>



                <!--Second row-->
                <tr>
                    <th scope="row" >
                        <img src="http://www.lankaholidays.com/pics/33289/slide31.jpg" class="rounded`" style="width:110px;height:110px;">
                    </th>
                    <td>
                        <h5><strong><a href="#" class="nameLink" >Serene Bridge Resort</a></strong></h5>
                        <p class="text-muted">Padukka</p>
                    </td>
                    <td>
                        <button type="button" class="btn btn-sm btn-primary waves-effect waves-light deep-purple accent-4" data-toggle="tooltip" data-placement="top" title="" data-original-title="Remove item">Like
                        </button>
                    </td>

                </tr>
                <!--/Second row-->

                <!--Third row-->
                <tr>
                    <th scope="row">
                        <img src="http://cdn3.ww.lk/images/gallery/ambalama-leisure-lounge-9332-293x154.jpg" class="rounded`" style="width:110px;height:110px;">
                    </th>
                    <td>
                        <h5><strong><a href="#" class="nameLink" >Ambalama</a></strong></h5>
                        <p class="text-muted">Hanwella</p>
                    </td>
                    <td>
                        <button type="button" class="btn btn-sm btn-primary waves-effect waves-light deep-purple accent-4" data-toggle="tooltip" data-placement="top" title="" data-original-title="Remove item">Liked
                        </button>
                    </td>
                </tr>
                <!--/Third row-->

                </tbody>
                <!--/Table body-->
            </table>
        </div>
        <!--Reacently liked pages-->
    </div>

    <div class="col-lg-4">
        
        <!--Friend Suggetion table-->
        <div class="table-responsive">
            <table class="table uct-table">
                <!--Table head-->
                <thead>
                    <tr>
                        <th colspan="2">Fridens Suggetions</th>
                    </tr>
                </thead>
                <!--/Table head-->

                <!--Table body-->
                <tbody>

                    <!--First row-->
                    <tr>
                        <th scope="row">
                            <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(15).jpg" class="rounded`" style="width:110px;height:110px;">
                        </th>
                        <td>
                            <h5><strong><a href="#" class="nameLink" >Jane Don</a></strong></h5>
                            <p class="text-muted tooltipMY">32 mutual
                                <span class="tooltiptext">
                                    Nuwan&nbspTharaka<br>
                                    Rajitha <br>
                                    Madura <br>
                                    more... <br>
                                </span>
                            </p>
                            <button type="button" class="btn btn-sm btn-primary waves-effect waves-light deep-purple accent-4" data-toggle="tooltip" data-placement="top" title="" data-original-title="Remove item">Follow
                            </button>
                        </td>
                    </tr>
                    <!--/First row-->

                    <!--Second row-->
                    <tr>
                        <th scope="row" >
                            <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(18).jpg" class="rounded`" style="width:110px;height:110px;">
                        </th>
                        <td>
                            <a><strong><a href="#" class="nameLink" >Kane Lee</a></strong></h5>
                            <p class="text-muted">21 mutual</p>
                            <button type="button" class="btn btn-sm btn-primary waves-effect waves-light deep-purple accent-4" data-toggle="tooltip" data-placement="top" title="" data-original-title="Remove item">Follow
                            </button>
                        </td>
                        
                    </tr>
                    <!--/Second row-->
                    <!--Third row-->
                    <tr>
                        <th scope="row">
                            <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(11).jpg" class="rounded`" style="width:110px;height:110px;">
                        </th>
                        <td>
                            <h5><strong><a href="#" class="nameLink" >Elee Tie</a></strong></h5>
                            <p class="text-muted">12 mutual</p>
                            <button type="button" class="btn btn-sm btn-primary waves-effect waves-light deep-purple accent-4" data-toggle="tooltip" data-placement="top" title="" data-original-title="Remove item">Follow
                            </button>
                        </td>
                    </tr>
                    <!--/Third row-->

                </tbody>
                <!--/Table body-->
            </table>
        </div>
        <!--/Friend Suggetion table-->
        <br>
        <!--Business Page Suggetion table-->
        <div class="table-responsive">
            <table class="table uct-table">
                <!--Table head-->
                <thead>
                    <tr>
                        <th colspan="2">Business Pages Suggetions</th>
                    </tr>
                </thead>
                <!--/Table head-->

                <!--Table body-->
                <tbody>

                    <!--First row-->
                    <tr>
                        <th scope="row">
                            <img src="http://images.clipartpanda.com/hotel-clipart-aieRz74KT.png" class="rounded`" style="width:110px;height:110px;">
                        </th>
                        <td>
                            <h5><strong><a href="#" class="nameLink" >Page name</a></strong></h5>
                            <p class="text-muted">Location</p>
                            <button type="button" class="btn btn-sm btn-primary waves-effect waves-light deep-purple accent-4" data-toggle="tooltip" data-placement="top" title="" data-original-title="Remove item">Like
                            </button>
                        </td>
                    </tr>
                    <!--/First row-->

                    <!--Second row-->
                    <tr>
                        <th scope="row" >
                            <img src="http://www.lankaholidays.com/pics/33289/slide31.jpg" class="rounded`" style="width:110px;height:110px;">
                        </th>
                        <td>
                            <h5><strong><a href="#" class="nameLink" >Serene Bridge Resort</a></strong></h5>
                            <p class="text-muted">Padukka</p>
                            <button type="button" class="btn btn-sm btn-primary waves-effect waves-light deep-purple accent-4" data-toggle="tooltip" data-placement="top" title="" data-original-title="Remove item">Like
                            </button>
                        </td>
                        
                    </tr>
                    <!--/Second row-->

                    <!--Third row-->
                    <tr>
                        <th scope="row">
                            <img src="http://cdn3.ww.lk/images/gallery/ambalama-leisure-lounge-9332-293x154.jpg" class="rounded`" style="width:110px;height:110px;">
                        </th>
                        <td>
                            <h5><strong><a href="#" class="nameLink" >Ambalama</a></strong></h5>
                            <p class="text-muted">Hanwella</p>
                            <button type="button" class="btn btn-sm btn-primary waves-effect waves-light deep-purple accent-4" data-toggle="tooltip" data-placement="top" title="" data-original-title="Remove item">Like
                            </button>
                        </td>
                    </tr>
                    <!--/Third row-->

                </tbody>
                <!--/Table body-->
            </table>
        </div>
        <!--/Business Page Suggetion table-->
        <div class="tooltipMY">Hover over me
            <span class="tooltiptext">Tooltip text</span>
        </div>
    </div>
</div>

<style>
    a.nameLink:hover {font-weight: bold; }
    a.nameLink:active {  color: rgba(0, 0, 0, 0.51);}
    a.nameLink { margin-left: 0; text-decoration: underline;}

</style>

<style>
    .tooltipMY {
        position: relative;
    }

    .tooltipMY .tooltiptext {
        visibility: hidden;
        /*width: 120px;*/
        background-color: black;
        color: #fff;
        text-align: ;
        border-radius: 6px;
        padding: 5px 5px 5px 5px;
        position: absolute;
        z-index: 4;
        top: 150%;
        left: 50%;
        margin-left: -100px;
        font-size:small;
    }

    .tooltipMY .tooltiptext::after {
        content: "";
        position: absolute;
        bottom: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: transparent transparent black transparent;
    }

    .tooltipMY:hover .tooltiptext {
        visibility: visible;
    }
</style>