<br>
<h4><strong>Vission</strong></h4>

<p>Vission goes here</p>

<hr>
<h4><strong>Mission</strong></h4>

<p>Mission goes here</p>

<hr>
<h4><strong>About 99x Travel Enterpirses</strong></h4>

<p>A resort that just one hour drive away from the Sri Lankan commercial capital Colombo, and located among lush rubber plantation and paddy fields. The calm and cool Pusseli Oya flowing by aside of resort’s garden with giving cool breeze for its visitors. The newly built four villas with all amenities are ideal for honeymooning couples or people who are love to spend their holidays in calm and peace. It'll be an unforgettable experience if you are playing in our tiny swimming pool that filled with crystal clear water in a sunny day. The resort is hosting all kind of functions with its 200 seated banquet hall and there is a conference hall with all facilities as well. For the people who are love to adventures we are offering outdoor camping site with a barbecue area.</p>

<hr>
<h4><strong>Our Vehicles</strong></h4>

<img src="jeep.jpg" alt="pool" style="width:35%">
<br>
<p>We provide four wheel drive vehicles for unforgettable excursions and safaris into the wilderness regions of southern Africa.  Reliable 4x4 safari vehicles are ideal for the rugged African environment. Turn your holiday into an African adventure.  With our extensive experience and far-reaching support network, you are assured of peace of mind. </p>


<hr>
<h4><strong>Topic</strong></h4>

<img src="pic.jpg" alt="Picture" style="width:35%">

<p>Description goes here</p>
