<mdl-card class="demo-card-event" mdl-shadow="2"  style="background-image: url('http://www.hotel-r.net/im/hotel/es/hotel-room-19.jpg')">
  <mdl-card-title mdl-card-expand>
    <h4>
      Unwind! Relax! Breathe!<br>
      You deserve a holiday
    </h4>
  </mdl-card-title>
  <mdl-card-actions mdl-card-border>
    <button mdl-button mdl-colored mdl-ripple (click)="booknow()">
      Book now
    </button>
    <mdl-layout-spacer></mdl-layout-spacer>
    <mdl-icon>event</mdl-icon>

  </mdl-card-actions>


</mdl-card>
