<mdl-card class="demo" mdl-shadow="2"  style="  background-size: cover;  background-repeat: no-repeat; background-image: url('http://www.hotelroomsearch.net/im/hotels/middle-east/om/beach-hotel-11.jpg')">
  <mdl-card-title mdl-card-expand>
    <h4>
      Unwind! Relax! Breathe!<br>
      You deserve a holiday
    </h4>
  </mdl-card-title>
  <mdl-card-actions mdl-card-border>
    <button type="button" class="btn btn-sm btn-blue-grey waves-effect waves-light">Book Now</button>
    <mdl-layout-spacer></mdl-layout-spacer>
    <mdl-icon>place</mdl-icon>
    <h6>Nawala Road Kandy</h6>
  </mdl-card-actions>


</mdl-card>
