
<app-sideview>

</app-sideview>
<app-navbar></app-navbar>
<main class="Mymain">
  <div class="container-fluid">

    <div class="row">

      <div class="col-md-8 card">
        <div id="map-container" class="z-depth-1" style="height: 300px">
          <img src="http://www.harvard.edu/sites/default/files/content/harvard-map-google.jpg" class="img-fluid img-responsive" >
        </div>
        <!-- Nav tabs -->
        <ul class="nav nav-tabs tabs-3 indigo" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#panel5" role="tab"><i class="fa fa-cutlery"></i> Eat</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#panel6" role="tab"><i class="fa fa-heart"></i> Travel</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#panel7" role="tab"><i class="fa fa-moon-o"></i> Sleep</a>
          </li>
        </ul>
        <!-- Tab panels -->
        <div class="tab-content ">
          <!--Panel 1-->
          <div class="tab-pane fade in show active" id="panel5" role="tabpanel">
            <br>
            <!--Carousel Wrapper-->
            <div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">


              <!--Slides-->
              <div class="carousel-inner" role="listbox">

                <!--First slide-->
                <div class="carousel-item active">

                  <div class="col-md-6">
                    <div class="card">
                      <img class="img-fluid" src="https://s-media-cache-ak0.pinimg.com/originals/fa/94/a5/fa94a5d7235d1c883a1adea1e3f7dd5e.jpg" alt="Card image cap">
                      <div class="card-block">
                        <h4 class="card-title">Hotel Robin Hood</h4>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Button</a>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-6 hidden-sm-down">
                    <div class="card">
                      <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(23).jpg" alt="Card image cap">
                      <div class="card-block">
                        <h4 class="card-title">Card title</h4>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Button</a>
                      </div>
                    </div>
                  </div>

                </div>
                <div class="carousel-item ">

                  <div class="col-md-6">
                    <div class="card">
                      <img class="img-fluid" src="https://s-media-cache-ak0.pinimg.com/originals/fa/94/a5/fa94a5d7235d1c883a1adea1e3f7dd5e.jpg" alt="Card image cap">
                      <div class="card-block">
                        <h4 class="card-title">Hotel Robin Hood</h4>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Button</a>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-6 hidden-sm-down">
                    <div class="card">
                      <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(23).jpg" alt="Card image cap">
                      <div class="card-block">
                        <h4 class="card-title">Card title</h4>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Button</a>
                      </div>
                    </div>
                  </div>

                </div>
                <!--/.First slide-->

              </div>
              <!--/.Slides-->

            </div>
            <!--/.Carousel Wrapper-->
          </div>
          <!--/.Panel 1-->
          <!--Panel 2-->
          <div class="tab-pane fade" id="panel6" role="tabpanel">
            <br>
            <div class="container-fluid">
            <div class="col-lg-6 view hm-zoom">
              <h3 class="text-mid">Pasikuda</h3>
              <img src="https://www.roughguides.com/wp-content/uploads/2015/08/18.-Thailand-832-168817-1680x1050.jpg">

            </div>
              <div class="col-lg-6 view overlay hm-red-strong">
                <div class="text-mid">Pasikuda</div>
                <img src="https://www.roughguides.com/wp-content/uploads/2015/08/18.-Thailand-832-168817-1680x1050.jpg">

              </div>


          </div>
          </div>
          <!--/.Panel 2-->
          <!--Panel 3-->
          <div class="tab-pane fade" id="panel7" role="tabpanel">
            <br>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil odit magnam minima, soluta doloribus reiciendis molestiae placeat unde eos molestias. Quisquam aperiam, pariatur. Tempora, placeat ratione porro voluptate odit minima.</p>
          </div>
          <!--/.Panel 3-->
        </div>
      </div>

      <div class="col-md-4">
        <ul class="list-group">
          <li class="list-group-item">Cras justo odio</li>
          <li class="list-group-item">Dapibus ac facilisis in</li>
          <li class="list-group-item">Morbi leo risus</li>
          <li class="list-group-item">Porta ac consectetur ac</li>
          <li class="list-group-item">Vestibulum at eros</li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 card">


      </div>
      <div class="col-lg-3">

      </div>
    </div>
  </div>
</main>
