input{
  border:none;
  border-bottom:1px solid #757575;
  background: transparent;
  padding: 10px 10px 10px 10px;
  margin: 10px;
}
input:focus 		{ outline:none; }

section {
  background: white !important;
}
