<app-sideview></app-sideview>
<app-navbar></app-navbar>

<div class="modal fade bottom" id="servicemodal" tabindex="-1" role="dialog" aria-labelledby="servicemodal" aria-hidden="true">
  <div class="modal-dialog modal-frame modal-bottom" role="document">
    <!--Content-->
    <div class="modal-content">
      <!--Header-->
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title w-100" id="myModalLabel">Service</h4>
      </div>
      <!--Body-->
      <div class="modal-body">
        <div class="contact-form">
          <!-- Form -->
          <form id="contact-us" method="post" action="#">
            <!-- Left Inputs -->
            <div class=" wow animated " data-wow-delay=".5s">
              <!-- Name -->
              <input type="text" name="name" id="name" required="required" class="form" placeholder="Service Name" />
              <!-- Email -->
                <div class="col-md-4">
                <input type="email" name="price" id="price" required="required" class="form" placeholder="Price" />
                </div>
              <div class="col-md-8">
                <div class="form-inline">
                  <label><h6>Business Type</h6></label><br>
                  <fieldset class="form-group">
                    <input name="group1" type="radio" id="radio11" checked="checked">
                    <label for="radio11">Healthcare</label>
                  </fieldset>

                  <fieldset class="form-group">
                    <input name="group1" type="radio" id="radio21">
                    <label for="radio21">Adventure</label>
                  </fieldset>

                  <fieldset class="form-group">
                    <input name="group1" type="radio" id="radio31">
                    <label for="radio31">Other</label>
                  </fieldset>
                </div>
              </div>

              <textarea name="message" id="message" class="form textarea"  placeholder="Description"></textarea>
              <!-- Subject -->

            </div><!-- End Left Inputs -->
            <!-- Right Inputs -->




            <!-- Clear -->
            <div class="clear"></div>

          </form>


        </div><!-- End Contact Form Area -->
      </div><!-- End Inner -->

      <!--Footer-->
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
    <!--/.Content-->
  </div>
</div>
<div class="modal fade top" id="roommodal" tabindex="-1" role="dialog" aria-labelledby="roommodal" aria-hidden="true">
  <div class="modal-dialog modal-frame modal-bottom" role="document">
    <!--Content-->
    <div class="modal-content">
      <!--Header-->
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title w-100" id="servicelabel">Room</h4>
      </div>
      <!--Body-->
      <div class="modal-body">
        <div class="contact-form">
          <!-- Form -->
          <form id="add_room" method="post" action="#">
            <!-- Left Inputs -->
            <div class=" wow animated " data-wow-delay=".5s">
              <!-- Name -->
              <div class="col-md-6">
              <input type="text" name="name" id="roomname" required="required" class="form" placeholder="Room Name" />
              </div>
              <!-- Email -->
              <div class="col-md-6">
                <input type="email" name="price" id="Rprice" required="required" class="form" placeholder="Price" />
              </div>
              <div class="row">
              <div class="col-md-6">
                <label >Freatures</label>
                <div class="form-inline">

                  <fieldset class="form-group">
                    <input type="checkbox" class="filled-in" id="acchk">
                    <label for="acchk">A/C</label>
                  </fieldset>
                  <fieldset class="form-group">
                    <input type="checkbox" class="filled-in" id="bthchk">
                    <label for="bthchk">Attached Bathroom</label>
                  </fieldset>
                  <fieldset class="form-group">
                    <input type="checkbox" class="filled-in" id="hwchk">
                    <label for="hwchk">Hot Water</label>
                  </fieldset>
                </div>
              </div>


              <div class="col-md-6">
                <label for="Rsize">Size of the Room</label>
                <form class="range-field">
                  <input id="Rsize" type="range" min="0" max="4" />
                </form>
              </div>
                <div class="col-md-6">
                  <div class="file-field">
                    <div class="btn btn-primary btn-sm">
                      <span>Upload Image</span>
                      <input type="file">
                    </div>
                    <div class="file-path-wrapper" >
                      <input class="file-path validate" type="text" placeholder="Upload your file">
                    </div>
                  </div>
                </div>
              </div>


            </div><!-- End Left Inputs -->
            <!-- Right Inputs -->




            <!-- Clear -->
            <div class="clear"></div>

          </form>


        </div><!-- End Contact Form Area -->
      </div><!-- End Inner -->

      <!--Footer-->
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
    <!--/.Content-->
  </div>
</div>

<main class="myMain">
    <div class="container-fluid row">

        <!--Cover-->
        <div class=" mb-r wow fadeIn" data-wow-delay="0.4s" style=" visibility: visible; animation-name: fadeIn; animation-delay: 0.4s;">
            <!--Card-->
            <div class=" card testimonial-card" style="height: 75%;padding-bottom: 0%">


                <!--Background color-->
              <div id="carousel-thumb" class="carousel slide carousel-fade carousel-thumbnails" data-ride="carousel">
                <!--Slides-->
                <div class="carousel-caption">
                  <h3 class="h3-responsive" >{{user}}</h3>
                </div>
                <div class="carousel-inner" role="listbox">
                  <div class="carousel-item active">
                    <img src="https://mdbootstrap.com/img/Photos/Slides/img%20(25).jpg" alt="First slide">
                  </div>
                  <div class="carousel-item">
                    <img src="https://mdbootstrap.com/img/Photos/Slides/img%20(73).jpg" alt="Second slide">
                  </div>
                  <div class="carousel-item">
                    <img src="https://mdbootstrap.com/img/Photos/Slides/img%20(27).jpg" alt="Third slide">
                  </div>
                </div>
                <!--/.Slides-->


              </div>



                <div class="card-block" style="padding-left: 0; padding-right: 0;">

                    <!-- Nav tabs -->
                    <div class="tabs-wrapper">
                        <ul class="nav classic-tabs deep-purple accent-4" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link waves-light waves-effect waves-light active" data-toggle="tab" href="#panel51" role="tab" aria-expanded="true">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link waves-light waves-effect waves-light" data-toggle="tab" href="#panel52" role="tab" aria-expanded="false">Stay</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link waves-light waves-effect waves-light" data-toggle="tab" href="#panel54" role="tab" aria-expanded="false">Other Services</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link waves-light waves-effect waves-light" data-toggle="tab" href="#panel55" role="tab" aria-expanded="false">Gallery</a>
                            </li>
                            <!--<li class="nav-item">-->
                                <!--<a class="nav-link waves-light waves-effect waves-light" data-toggle="tab" href="#panel56" role="tab" aria-expanded="false">About Us</a>-->
                            <!--</li>-->
                            <li class="nav-item">
                                <a class="nav-link waves-light waves-effect waves-light" data-toggle="tab" href="#panel57" role="tab" aria-expanded="false">Contact Us</a>
                            </li>
                        </ul>
                    </div>
                    <!-- Nav tabs -->
                </div>

            </div>
            <!--/.Card-->
        </div>
        <!--Cover-->

        <!-- Tab panels -->
        <div class="tab-content card">

            <!--Panel 1 home-->
            <div class="tab-pane fade in active show" id="panel51" role="tabpanel" aria-expanded="true">
                <!--Content of Home included from home.html-->
                <app-hotel-page-home></app-hotel-page-home>
            </div>
            <!--/.Panel 1-->

            <!--Panel 2 Stay-->
            <div class="tab-pane fade" id="panel52" role="tabpanel" aria-expanded="false">
                <!--Content of Stay included from stay.html-->
              <section class="section wow fadeIn" data-wow-delay="0.4s" style="visibility: visible; animation-name: fadeIn; animation-delay: 0.4s;">

                    <h4><strong>Room Details</strong></h4>


                              <!--Room table-->
                              <div class="table-responsive">
                                  <table class="table product-table">
                                      <!--Table head-->
                                      <thead>
                                          <tr>

                                              <th></th>
                                              <th>Room</th>
                                              <th>Size</th>
                                              <th>Features</th>
                                              <th>Price</th>

                                          </tr>
                                      </thead>
                                      <!--/Table head-->

                                      <!--Table body-->
                                      <tbody>

                                          <!--First row-->
                                          <tr>
                                              <th scope="row">
                                                  <img src="assets/img/A1.jpg" alt="" class="img-fluid">
                                              </th>
                                              <td>
                                                  <h5><strong>Standard Double</strong></h5>
                                                  <p class="text-muted">Full Board</p>
                                              </td>
                                              <td>2 Person</td>
                                              <td>
                                                  <table><tbody>
                                                      <tr>
                                                          <td>A/C</td>
                                                          <td><i class="fa fa-check" aria-hidden="true"></i></td>
                                                      </tr>
                                                      <tr>
                                                          <td>Attached Bathroom</td>
                                                          <td><i class="fa fa-check" aria-hidden="true"></i></td>
                                                      </tr>
                                                      <tr>
                                                          <td>Hot Water</td>
                                                          <td><i class="fa fa-check" aria-hidden="true"></i></td>
                                                      </tr>
                                                  </tbody></table>

                                              </td>
                                              <td>Rs.5000</td>
                                            <td><a class="btn-floating btn-large red"><i class="fa fa-trash-o"></i></a></td>
                                          </tr>
                                          <!--/First row-->

                                          <!--Second row-->
                                          <tr>

                                              <th scope="row">
                                                  <img src="assets/img/A2.jpg" alt="" class="img-fluid">
                                              </th>
                                              <td>
                                                  <h5><strong>Private Cottages</strong></h5>
                                                  <p class="text-muted">Full Board</p>
                                              </td>
                                              <td>2 Person</td>
                                              <td>
                                                  <table><tbody>
                                                      <tr>
                                                          <td>Attached Bathroom</td>
                                                          <td><i class="fa fa-check" aria-hidden="true"></i></td>
                                                      </tr>
                                                      <tr>
                                                          <td>Hot Water</td>
                                                          <td><i class="fa fa-check" aria-hidden="true"></i></td>
                                                      </tr>
                                                  </tbody></table>

                                              </td>
                                              <td>Rs.6000</td>
                                            <td><a class="btn-floating btn-large red"><i class="fa fa-trash-o"></i></a></td>
                                          </tr>
                                          <!--/Second row-->

                                      </tbody>
                                      <!--/Table body-->
                                  </table>
                              </div>
                              <!--/Room table-->
                <button type="button" class="btn btn-outline-primary waves-effect center btn-lg btn-block" data-toggle="modal" data-target="#roommodal">Add Rooms</button>

                              <hr>
              </section>
            </div>
            <!--/.Panel 2-->

            <!--Panel 3 Foods-->
            <div class="tab-pane fade" id="panel53" role="tabpanel" aria-expanded="false" style="margin-top: -2rem;">
                <!--Content of Foods included from food.html-->

                                                <br>
                              <h4><strong class="text-center">Breakfast</strong></h4>

                              <!--Breakfast table-->
                              <div class="table-responsive">
                                  <table class="table product-table">
                                      <!--Table head-->
                                      <thead>
                                          <tr>
                                              <th></th>
                                              <th></th>
                                              <th>Name</th>
                                              <th>Size</th>
                                              <th>Price</th>
                                          </tr>
                                      </thead>
                                      <!--/Table head-->

                                      <!--Table body-->
                                      <tbody>

                                          <!--First row-->
                                          <tr>
                                              <th>1</th>
                                              <th scope="row">
                                                  <img src="assets/img/StringHoppers.jpg" alt="" class="img-fluid">
                                              </th>
                                              <td>
                                                  <h5><strong>String Hoppers</strong></h5>
                                              </td>
                                              <td>1 Person</td>
                                              <td>Rs.200</td>
                                          </tr>
                                          <!--/First row-->

                                          <!--Second row-->
                                          <tr>
                                              <th>2</th>
                                              <th scope="row">
                                                  <img src="assets/img/BreadCurry.jpg" alt="" class="img-fluid">
                                              </th>
                                              <td>
                                                  <h5><strong>Bread & Curry</strong></h5>
                                              </td>
                                              <td>1 Person</td>
                                              <td>Rs.150</td>
                                          </tr>
                                          <!--/Second row-->

                                      </tbody>
                                      <!--/Table body-->
                                  </table>
                              </div>
                              <!--/Breakfast table-->

                              <hr>
                              <h4><strong class="text-center">Lunch</strong></h4>

                              <!--Lunch table-->
                              <div class="table-responsive">
                                  <table class="table product-table">
                                      <!--Table head-->
                                      <thead>
                                          <tr>
                                              <th></th>
                                              <th></th>
                                              <th>Name</th>
                                              <th>Size</th>
                                              <th>Price</th>
                                          </tr>
                                      </thead>
                                      <!--/Table head-->

                                      <!--Table body-->
                                      <tbody>

                                          <!--First row-->
                                          <tr>
                                              <th>1</th>
                                              <th scope="row">
                                                  <img src="assets/img/StringHoppers.jpg" alt="" class="img-fluid">
                                              </th>
                                              <td>
                                                  <h5><strong>String Hoppers</strong></h5>
                                              </td>
                                              <td>1 Person</td>
                                              <td>Rs.200</td>
                                          </tr>
                                          <!--/First row-->

                                          <!--Second row-->
                                          <tr>
                                              <th>2</th>
                                              <th scope="row">
                                                  <img src="assets/img/BreadCurry.jpg" alt="" class="img-fluid">
                                              </th>
                                              <td>
                                                  <h5><strong>Bread & Curry</strong></h5>
                                              </td>
                                              <td>1 Person</td>
                                              <td>Rs.150</td>
                                          </tr>
                                          <!--/Second row-->

                                      </tbody>
                                      <!--/Table body-->
                                  </table>
                              </div>
                              <!--/Lunch table-->

                              <hr>
                              <h4><strong class="text-center">Dinner</strong></h4>

                              <!--Dinner table-->
                              <div class="table-responsive">
                                  <table class="table product-table">
                                      <!--Table head-->
                                      <thead>
                                          <tr>
                                              <th></th>
                                              <th></th>
                                              <th>Name</th>
                                              <th>Size</th>
                                              <th>Price</th>
                                          </tr>
                                      </thead>
                                      <!--/Table head-->

                                      <!--Table body-->
                                      <tbody>

                                          <!--First row-->
                                          <tr>
                                              <th>1</th>
                                              <th scope="row">
                                                  <img src="assets/img/StringHoppers.jpg" alt="" class="img-fluid">
                                              </th>
                                              <td>
                                                  <h5><strong>String Hoppers</strong></h5>
                                              </td>
                                              <td>1 Person</td>
                                              <td>Rs.200</td>
                                          </tr>
                                          <!--/First row-->

                                          <!--Second row-->
                                          <tr>
                                              <th>2</th>
                                              <th scope="row">
                                                  <img src="assets/img/BreadCurry.jpg" alt="" class="img-fluid">
                                              </th>
                                              <td>
                                                  <h5><strong>Bread & Curry</strong></h5>
                                              </td>
                                              <td>1 Person</td>
                                              <td>Rs.150</td>
                                          </tr>
                                          <!--/Second row-->

                                      </tbody>
                                      <!--/Table body-->
                                  </table>
                              </div>
                              <!--/Dinner table-->

            </div>
            <!--/.Panel 3-->

            <!--Panel 4 Other Services-->
            <div class="tab-pane fade" id="panel54" role="tabpanel" aria-expanded="false" style="margin-top: -2rem;">
              <!--Section heading-->
              <section class="section wow fadeIn" data-wow-delay="0.4s" style="visibility: visible; animation-name: fadeIn; animation-delay: 0.4s;">


                <!--Content of Other Services included from otherServices.html-->


                                      <!--Other Services table-->
                                      <div class="table-responsive">
                                          <table class="table product-table">
                                              <!--Table head-->
                                              <thead>
                                                  <tr>
                                                      <th></th>
                                                      <th>Service Name</th>
                                                      <th>Description</th>
                                                      <th>Price</th>
                                                  </tr>
                                              </thead>
                                              <!--/Table head-->

                                              <!--Table body-->
                                              <tbody>

                                                  <!--First row-->
                                                  <tr>
                                                      <th scope="row">
                                                          <img src="assets/img/bikeRiding.jpg" alt="" class="img-fluid">
                                                      </th>
                                                      <td>
                                                          <h5><strong>name of the service</strong></h5>
                                                      </td>
                                                      <td>Description of the Service goes here</td>
                                                      <td>Rs.xxxx</td>
                                                    <td><a class="btn-floating btn-large red"><i class="fa fa-trash-o"></i></a></td>
                                                  </tr>
                                                  <!--/First row-->

                                              </tbody>
                                              <!--/Table body-->
                                          </table>
                                      </div>
                                      <!--/Other Services table-->
                <button type="button" class="btn btn-outline-primary waves-effect center btn-lg btn-block" data-toggle="modal" data-target="#servicemodal">Add Service</button>
              </section>
            </div>

            <!--/.Panel 4-->

            <!--Panel 5 Gallery-->
            <div class="tab-pane fade" id="panel55" role="tabpanel" aria-expanded="false" style="margin-top: -2rem;">
                <!--Content of Gallery included from gallery.html-->
                <app-hotel-page-gallery></app-hotel-page-gallery>
            </div>
            <!--/.Panel 5-->

            <!--Panel 6 About Us-->
            <!--<div class="tab-pane fade" id="panel56" role="tabpanel" aria-expanded="false" style="margin-top: -2rem;">
                &lt;!&ndash;Content of About Us included from aboutUs.html&ndash;&gt;

                      <br>
                                  <h4><strong>Vission</strong></h4>

                                  <p>Vission goes here</p>

                                  <hr>
                                  <h4><strong>Mission</strong></h4>

                                  <p>Mission goes here</p>

                                  <hr>
                                  <h4><strong>About Resort</strong></h4>

                                  <p>A resort that just one hour drive away from the Sri Lankan commercial capital Colombo, and located among lush rubber plantation and paddy fields. The calm and cool Pusseli Oya flowing by aside of resort’s garden with giving cool breeze for its visitors. The newly built four villas with all amenities are ideal for honeymooning couples or people who are love to spend their holidays in calm and peace. It'll be an unforgettable experience if you are playing in our tiny swimming pool that filled with crystal clear water in a sunny day. The resort is hosting all kind of functions with its 200 seated banquet hall and there is a conference hall with all facilities as well. For the people who are love to adventures we are offering outdoor camping site with a barbecue area.</p>

                                  <hr>
                                  <h4><strong>Swimming Pool</strong></h4>

                                  <img src="assets/img/pool.jpg" alt="pool" style="width:35%">
                                  <br>
                                  <p>Enjoy the warm tropical sun while lounging in our infinity pool, the pool in the ‘sky’ built on the summit of the hill. </p>

                                  <hr>
                                  <h4><strong>Accommodation </strong></h4>

                                  <img src="assets/img/A2.jpg" alt="Picture" style="width:35%">
                                  <br>
                                  <p>The rooms at Serene Bridge are an oasis of luxury allowing guests to enjoy a truly relaxing vacation. Depending upon the room type chosen, guests will have panoramic views of the surrounding forest area. </p>

                                  <hr>
                                  <h4><strong>Topic</strong></h4>

                                  <img src="assets/img/pic.jpg" alt="Picture" style="width:35%">

                                  <p>Description goes here</p>


            </div>-->
            <!--/.Panel 6-->

            <!--Panel 7 Contact Us-->
            <div class="tab-pane fade" id="panel57" role="tabpanel" aria-expanded="false" style="margin-top: -2rem;">
                <!--Content of Contact Us included from contactUs.html-->
                <app-hotel-page-contact></app-hotel-page-contact>
            </div>
            <!--/.Panel 7-->


        </div>
        <!-- Tab panels -->

    </div>


</main>
