
<div class="card" mdl-shadow="2">
  <!--Card image-->
  <button mdl-button #btn1="mdlButton" (click)="m1.toggle($event, btn1)" mdl-button-type="icon" mdl-ripple><mdl-icon>more_vert</mdl-icon></button>
  <mdl-menu #m1="mdlMenu" mdl-menu-position="bottom-left">
    <mdl-menu-item mdl-ripple (click)="action()">Hide Post</mdl-menu-item>
    <mdl-menu-item mdl-ripple mdl-menu-item-full-bleed-divider>Report Post</mdl-menu-item>
    <mdl-menu-item mdl-ripple disabled>Delete Post</mdl-menu-item>
    <mdl-menu-item>Turn off Notifications</mdl-menu-item>
  </mdl-menu>
  <div class="view overlay hm-white-slight">
    <img src="https://c1.staticflickr.com/8/7455/12252284106_b2fd041c04_b.jpg" class="img-fluid" alt="">
    <br>
    <div>
      <div id="profile-circle" class="col-md-4">
        <img src="http://mdbootstrap.com/images/avatars/img%20(8)" class="rounded-circle">
      </div>
      <div class="col-md-pull-8">
         <h6><a href="">Kavindu Edirisinghe</a></h6>
      </div>

    </div>
    <a>
      <div class="mask waves-effect waves-light"></div>
    </a>
  </div>
  <!--/.Card image-->
  <!--Social buttons-->
  <div class="card-share">
    <div class="social-reveal">
      <!--Facebook-->
      <a type="button" class="btn-sm btn-floating btn-fb waves-effect waves-light"><i class="fa fa-facebook"></i></a>
      <!--Twitter-->
      <a type="button" class="btn-floating btn-tw waves-effect waves-light"><i class="fa fa-twitter"></i></a>
      <!--Google -->
      <a type="button" class="btn-floating btn-gplus waves-effect waves-light"><i class="fa fa-google-plus"></i></a>
    </div>
    <a class=" btn-sm btn-floating btn-action share-toggle primary-color-dark float-right waves-effect waves-light"><i class="fa fa-share-alt"></i></a>
  </div>
  <!--/Social buttons-->
  <!--Card content-->
  <div class="card-block">
    <!--Title-->
    <h4 class="card-title">Temple of Tooth</h4>
    <hr>
    <!--Text-->
    <p class="card-text">Sri Dalada Maligawa or the Temple of the Sacred Tooth Relic is a Buddhist temple in the city of Kandy, Sri Lanka. It is located in the royal palace complex of the former Kingdom of Kandy.</p>
    <div class="text-center">
      <a class="btn btn-primary waves-effect waves-light" [routerLink]="['/profile/viewpost']">Read more</a>
    </div>
  </div>
  <!--/.Card content-->
</div>
