.mdlcard{
  /*margin: 1rem;*/
  margin-left: 1rem;
  margin-right: 1rem;
}
.icon-button {
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        outline: none;
        border: 0;
        background: transparent;
    }


.card .btn-action {
  margin: -23px 20px;
  float: right;
  background-color: #4B515D;
   
  height: 3rem !important;
  width: 3rem !important;
  line-height: 0;
}

#profile-circle{
        border-radius:100px; 
        height:55px;
        width:55px;
        
}

.card {
 
  /*background-color: #B6B6B4;*/
  background-color: #ffffff;
  width:790px;
  margin-left: 0px;
  margin-right: 0px;
  height:365px;
  border-radius: 10px;
}

#card-header{
  background-color: #ffffff;
   height:70px;
   border-radius: 10px 10px 0 0;
}

.mdl-button{
  margin-left: 60%;
  
}




.btn{
  height: 30px;
  width:160px;
  padding: 10px;
  justify-content: center;
   /*border-radius: 10px;*/
   /*margin-left: 50%;*/
  
}

.card-text{
  text-align: justify;
}

.img-fluid{
    border-radius: 10px;
    width: 355px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 5px;
}