<section class="section ">

    <!--Section heading-->
    <h1 class="section-heading">Welcome to 99x Travel Enterpirses</h1>
    <!--Section sescription-->
    <p class="section-description">Welcome to 99x Travel Enterpirses. We have a range of vehicles, all rugged and fitted with tried-and-tested accessories.  We careful select equipment and accessories from the tyres to the suspension, the on board comforts to the legally required safety equipment. 

The rental options include full equipped campers if you are camping as you drive. The campers kitted with everything you need, laid out practically.  Setting up camp is quick, and packing up is simple as everything has its place. 

We keep the paperwork simple too.  Advice for insurance options, tips to ease border crossings and all the legal requirements for the vehicles at your disposal. </p>

    <!--First row-->
    <div class="row">

        <!--First column-->
        <div class="col-md-5 mb-r">
            <!--Featured image-->
            <div class="view overlay hm-white-slight">
                <img src="assets/img/tentLarge.jpg" alt="Sample image for first version of blog listing">
                <a>
                    <div class="mask waves-effect waves-light"></div>
                </a>
            </div>
        </div>
        <!--/First column-->

        <!--Second column-->
        <div class="col-md-7 mb-r">
            <!--Excerpt-->
            <h4>Tent Renting</h4>
            <p>We rent top quality camping tents, backpacking tents, glamping tents, and canvas hunting tents. Nationwide shipping to almost any location!</p>
        </div>
        <!--/Second column-->

    </div>
    <!--/First row-->

    <hr class="hr-mobile">

    <!--Second row-->
    <div class="row">

        <!--First column-->
        <div class="col-md-7 mb-r">
            <!--Excerpt-->
            <h4>Bicycle Renting</h4>
            <p>You can rent a bicycle for however long you want: a couple of hours, a day, or even several weeks. Renting a bike for a longer period is usually relatively cheaper.</p>
            
        </div>
        <!--/First column-->

        <!--Second column-->
        <div class="col-md-5 mb-r">
            <!--Featured image-->
            <div class="view overlay hm-white-slight">
                <img src="assets/img/bikeDouble.jpg" alt="Second image in the first version of blog listing">
                <a>
                    <div class="mask waves-effect waves-light"></div>
                </a>
            </div>
        </div>
        <!--/Second column-->

    </div>
    <!--/Second row-->

    <hr class="hr-mobile">

    <!--Third row-->
    <div class="row">

        <!--First column-->
        <div class="col-md-5 mb-r">
            <!--Featured image-->
            <div class="view overlay hm-white-slight">
                <img src="assets/img/jeep.jpg" alt="Thrid image in the blog listing.">
                <a>
                    <div class="mask waves-effect waves-light"></div>
                </a>
            </div>
        </div>
        <!--/First column-->

        <!--Second column-->
        <div class="col-md-7 mb-r">
            <!--Excerpt-->
            <h4>Vehicle Renting</h4>
            <p>We provide four wheel drive vehicles for unforgettable excursions and safaris into the wilderness regions of southern Africa.  Reliable 4x4 safari vehicles are ideal for the rugged African environment. Turn your holiday into an African adventure.  With our extensive experience and far-reaching support network, you are assured of peace of mind. </p>
        </div>
        <!--/Second column-->

    </div>
    <!--/Third row-->

</section>